[2018-03-08 09:35] xiongmao86 opened #3765 "Probably wrong error reported label-position rule"
### Bug Report

- __TSLint version__: 5.9.1
- __TypeScript version__: Version 2.7.0-dev.20180120
- __Running TSLint via__: (pick one) CLI
#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior
A lot of lints, the most prominent is the `label-position` lint, from the code has nothing to do with labels.

#### Expected behavior
Since the code comes

[2018-03-08 18:48] Kefir100 opened #3766 "Show applied rules on --fix option CLI"
### Proposal

- __TSLint version__: 5.9.1
- __TypeScript version__: 2.7.2
- __Running TSLint via__: CLI

I am totally new to TS but Ive noticed that it would be great to have a flag on a fix option of CLI to show which exact rule has affected my code. It sometimes gets confusing and I want to know if I am supposed to fix either rule in config or my code.

For example
`Fixed 1 error(s) in src/clien

[2018-03-08 18:59] Kefir100 commented on #3766
Sorry, found out that CLI gives a pretty verbose output without --fix flag. Closing.

[2018-03-08 18:59] #3766 closed

[2018-03-08 21:37] Kerrick commented on #1576
Does anybody know of any useful tools that have been produced for this?

[2018-03-09 08:42] mrdulin opened #3767 "tslint give no warning when use await in a for...loop."
### Bug Report

- __TSLint version__:   "tslint": "^5.5.0"
- __TypeScript version__:  "typescript": "^2.7.0-dev.20171108"
- __Running TSLint via__:  VSCode

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior

tslint give no warning

#### Expected behavior

should like `eslint`, give warning like this:

[code]

[2018-03-09 14:04] aervin commented on #3253
A while back I made some local updates that allow this config:
[code]

which passes cases such as
[code]

PRs are piling up right now. Once the repo gets back on its feet, I'll open a PR.

[2018-03-09 16:44] JoshuaKGoldberg opened #3768 "Rule request: Enforce /** */ comments over //"
#### TypeScript code being linted

[code]

A lot of devs newer to JS/TS use `//` comments without realizing only `/** */` are proper JSDoc annotations. Having a rule that flags this would be great. A simple auto-fixer would be useful as well.

Perhaps if the last line of the comment starts with "return", a `@return` tag could be generated in the auto-fixer?

[2018-03-10 09:18] Guoli-Lyu commented on #3758
This is a bug of WebStorm, and fixed in Early Access Program.

[2018-03-10 09:18] #3758 closed

[2018-03-10 11:57] glen-84 commented on #1481
@QuantumInformation Have you tried using `--project`?

[2018-03-10 12:01] QuantumInformation commented on #1481
Yeah that works thx

[2018-03-10 17:45] RafaelKr commented on #3443
@QuantumInformation got a solution there: https://github.com/palantir/tslint/issues/1481#issuecomment-367264966

[2018-03-10 17:52] QuantumInformation commented on #3443
yeha got it thx

[2018-03-11 18:10] dextermb commented on #3690
The following fix resolves my issue:

[code]

[2018-03-11 18:10] #3690 closed

[2018-03-12 09:04] OskarKlintrot opened #3771 "ban-single-arg-parens autofix adds left padding"
### Bug Report

- __TSLint version__: ~5.8.0
- __TypeScript version__: 2.4.2
- __Running TSLint via__: ng lint

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior
[code]

#### Expected behavior
[code]

[2018-03-12 18:33] bdc34 opened #3772 "Cannot disable object-literal-sort-keys when extending tslint:recommended"
### Bug Report

- __TSLint version__: 5.9.1
- __TypeScript version__: 2.7.1
- __Running TSLint via__: CLI

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior
bdc34 @bdc34-laptop: modui-typescript$ cat tslint2.json
{
    "extends": ["tslint:recommended"],
    "rules": {
       "object-literal-sort-keys": false
    }
}bdc34 @bdc34-laptop: modui

[2018-03-13 01:42] szeck87 commented on #2814
@adidahiya I can't get it to report an error if the wrong indentation character is used.  If I set the rule to spaces/4 and have something like:

[code]
or
[code]

It doesn't report back an error.  Per your original comment, are you sure it reports it if it's the wrong whitespace character?

[2018-03-13 13:48] bdc34 commented on #3772
Sorry, I see that I needed JsRules:

    "jsRules":{
        "object-literal-sort-keys": false,
    }

[2018-03-13 13:48] #3772 closed

[2018-03-13 15:42] vyshkant commented on #2953
@adidahiya @ajafff WDYT about providing other options like in https://eslint.org/docs/rules/object-shorthand?

[2018-03-13 16:12] Assassyn commented on #2099
Another solution for webpack.

I have created a simple loader which trims all whitespaces from a "file" provided by vue-loader and then add white space for a linter.

**webpack.config.js:**
`
test:/\.vue$/,
      loader: 'vue-loader',
      options: {
        loaders: {
          'ts': [
            'vue-ts-loader',
            'tslint-loader',
            path.resolve('./path/to/remove-whitespace

[2018-03-13 16:15] Assassyn commented on #2099
Another solution for webpack.

I have created a simple loader which trims all whitespaces from a "file" provided by vue-loader and then add white space for a linter.

**webpack.config.js:**

`test:/\.vue$/,
      loader: 'vue-loader',
      options: {
        loaders: {
          'ts': [
            'vue-ts-loader',
            'tslint-loader',
            path.resolve('./path/to/remove-whitespace

[2018-03-14 01:02] JoshuaKGoldberg commented on #3631
Another thing to look out for as an option (should just initialize via `private count: number = 0;`):

class Counter {
    private count: number;

    public constructor() {
        this.count = 0;
    }

    public increase(): number {
        return this.count += 1;
    }
}
[code]

[2018-03-14 10:06] AkshanshSrivastava03 opened #3774 "TsLint rule directory accepting single path for directory"
### Bug Report

- __TSLint version__: 5.9.0
- __TypeScript version__: 2.5.2
- __Running TSLint via__:  CLI

I have 2 rules directories to run via CLI-
1.) Microsoft contrib
2.) tslint-react

tslint -c ..\tslint.json  ..\src\scripts\**\*.ts* -e  **\Resources\*.ts* -e **\Generated\*.ts -e **\
Tests\*.ts* --rules-dir C:\Users\aksriv\AppData\Roaming\npm\node_modules\tslint-microsoft-contrib C:\Users\a

[2018-03-14 15:23] sant123 commented on #2814
Any advance on this? Just asking 😝

[2018-03-14 15:28] pelotom commented on #2814
Advice? Use [Prettier](https://prettier.io).

[2018-03-14 16:41] mariohmol commented on #1400
Having similar issue, but with a code like that. Is this related?

[code]

The error:
`variable 'SellerOrdersComponent' used before declaration`

[2018-03-14 19:27] lautarodragan commented on #3654
Facing same issue here. Would really love to use `grouped-imports`, both in our ReactJS and NodeJS apps, but `ordered-imports` isn't able to tell library from non-library imports.

[2018-03-15 00:13] ekilah commented on #696
this thread is pretty stale, but it would be a great addition!

[2018-03-15 00:17] jscharett commented on #2814
Has anyone tried [tslint-eslint-rules](https://www.npmjs.com/package/tslint-eslint-rules)?

[2018-03-15 02:25] fandy commented on #512
👍Looks like the default is still to prefix with `I`. I'm happy to submit a PR to change this.

[2018-03-15 02:35] fandy opened #3775 "Add rule for enforcing semicolon or commas for interfaces"
Is there a reason we can't enforce a consistent style of ending interface props? Since there isn't a benefit of using semicolons _and_ commas, I think it's useful to add a linting rule to enforce one.

I'm happy to submit a PR for this if it's wanted. Thoughts?

[2018-03-15 09:28] syq7970 commented on #3716
+1 I have same issue

[2018-03-15 14:03] ghost opened #3776 "Add Examples For Rules"
It would be very nice to have code examples showing correct and incorrect code for the rules.

Could use ESLint docs for reference

[2018-03-15 17:55] xaviergonz commented on #3716
restarting vscode worked for me

[2018-03-16 09:18] vyshkant opened #3777 "Suggestion: create new rule "new line between class members""
I propose to create a new rule that would allow you us track new lines between class members.

Let's call it `newline-between-member`. The minimum set of properties is: `["never", "always"]`.

When `never` is applied, there should not be new lines between class members:
[code]

Conversely, when `always` is applied, there should be a new line between class members:
[code]

[2018-03-16 16:31] damacisaac commented on #2814
@jscharett tslint-eslint-rules works with the `ter-indent` rule. Unfortunately it doesn't cover JSX indentation...

[2018-03-16 17:48] UselessPickles opened #3778 "[Feature Request] Add more granularity to object-literal-shorthand rule options"
The `object-literal-shorthand` rule currently does not offer granularity for enforcing/disallowing shorthand separately for property assignment vs method declarations.

I would prefer to allow (but not enforce!) shorthand for method declarations, but disallow shorthand for property assignments.

Here's an example of how I would like to configure the `object-literal-shorthand` rule:

[code]

The mo

[2018-03-17 17:17] Fazendaaa opened #3779 "Is not a function​​"
### Bug Report

- __TSLint version__: 5.9.1
- __TypeScript version__: 2.7.2
- __Running TSLint via__: VSCode

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior

The TSLint output is:
[code]

#### Expected behavior

I know that is probably a TS error that one. But I don't know hoe to fix it.

Right now I'm trying to create a typing for this N

[2018-03-18 11:52] serhiipalash commented on #2583
Auto-fixer for `object-literal-sort-keys` could produce very hard to debug errors. Read this https://github.com/prettier/prettier/issues/1096

[2018-03-18 14:07] vire commented on #3711
Same issue

[code]

[2018-03-18 17:13] mvkorobkov opened #3780 "wrong error found: type is declared but never used."
### Bug Report

- __TSLint version__: 5.9.1
- __TypeScript version__: 2.7.2
- __Running TSLint via__: CLI

#### TypeScript code being linted

import { Storage } from '@ionic/storage';
export class MyApp {
  constructor(private storage: Storage) {  }
}

with `tslint.json` configuration:

{
  "rules": {
    "no-duplicate-variable": true,
    "no-unused-variable": [
      true
    ]
  },
  "rulesDire

[2018-03-18 17:24] mvkorobkov commented on #3780
similar error - All imports are unused.
where it do - imported types used in constructor parameters or in class extend declaration

[2018-03-19 08:21] paulkoerbitz commented on #3664
I've started something here (quite a hack at the moment, but will clean it up going forward): https://github.com/paulkoerbitz/tslint-auto-disable

[2018-03-19 10:25] gregorybleiker opened #3781 "Javadoc comments are linted wrongly"
### Bug Report

- __TSLint version__: 5.8.0
- __TypeScript version__: 2.6.2
- __Running TSLint via__: VSCode

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior
There is an indication of a missing whitespace between @param and test
#### Expected behavior
Javadoc comment should not be linted. If I disable the check-separator, it's ok.

[2018-03-19 10:36] liul85 commented on #581
any updates?

`"indent": [true, "spaces", 4]` not working for me

[2018-03-19 15:09] andy-ms commented on #3711
@vire Try using npm and installing `tslint@latest` and `typescript@next`. The vscode error only happened when using yarn too.

[2018-03-19 16:54] xzguan commented on #3716
pay attention to the file tsconfig.json, comment the ("strict": true) in the compilerOptions file

[2018-03-20 01:26] rhys-vdw opened #3782 "indent rule fails to catch unindented object literal"
### Bug Report

- __TSLint version__: 5.9.1
- __TypeScript version__: 2.7.2
- __Running TSLint via__: VSCode

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior

No error

#### Expected behavior

Error on unindented key

[2018-03-20 01:31] leocaseiro commented on #581
@liul85 try install [tslint-eslint-rules](https://github.com/buzinas/tslint-eslint-rules) and use the [terIndentRule](https://github.com/buzinas/tslint-eslint-rules/blob/master/src/docs/rules/terIndentRule.md)

[2018-03-20 01:45] rhys-vdw commented on #3768
How would you add comments with this rule enabled?

[2018-03-20 01:57] JoshuaKGoldberg commented on #3768
I think the rule would have to have a configuration object similar to that of `completed-docs`, where it chooses specific locations to enable. `//` docs would be fine _except_ where explicitly disallowed: above important nodes (class declarations, function declarations, etc.) without `/** */` docs between them.

[2018-03-20 02:10] liul85 commented on #581
@leocaseiro thanks for sharing, I will give a try.

[2018-03-20 02:44] thejohnfreeman commented on #3540
I have a similar problem, but the workaround does not work for me.

I am using a Reactive Form in Angular, with a [getter that returns a control in that form](https://angular.io/guide/form-validation#built-in-validators):

[code]

Line 1 declares a non-null return type, but the method called on line 2 returns a nullable type. As shown, tsc reports:

[code]

The fix is to annotate with `!` or `as A

[2018-03-20 05:28] BukkituNikhil commented on #3643
error TS18001: A path in an 'extends' option must be relative or rooted, but '<%= sourcedir.split('/').map(x => '..').join('/') %

I got some other error.

[2018-03-20 15:26] clemtrek commented on #3776
I had a look through the test codes.

It may not be a hard work to add those to the website

[2018-03-20 16:01] aervin commented on #3776
@clemtrek This may be [in progress](https://github.com/palantir/tslint/pull/3602) already. Is that PR what you're after?

[2018-03-20 16:57] ghost opened #3783 "Support For Formatters"
### Feature Request

Event though tslint provides support for custom formatters, implementing these are a bit difficult.

It would be very nice to have a method to import a formatter as a node module or a file, just like the extend functionality works, through the API.

[2018-03-20 17:04] felpel opened #3784 "Rule "no-unsafe-any" with Angular Injectable decorator false-positive error"
### Bug Report

- __TSLint version__: 5.9.1
- __TypeScript version__: 2.4.2
- __Running TSLint via__: Angular-CLI (ng lint)

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior

I get an error regarding the usage of `Injectable` as: `ERROR: 7:2      no-unsafe-any           Unsafe use of expression of type 'any'.`

#### Expected behavior

I'm n

[2018-03-20 23:23] vire commented on #3711
After installing latest `react-scripts-ts` the *problem disappeared for now* - I suspect their dependencies were somehow incorrect :/

Also worth to mention the issue was present also in the CLI not just vscode

[2018-03-21 03:40] Zzzen commented on #2290
`window.name` is annoying too.

[2018-03-21 09:19] w0rp commented on #1590
I'm going to give this a go. I'll create a pull request with the first thing I can think of at some point, and keep editing it until everything actually works.

[2018-03-21 12:45] irek02 commented on #1044
Any progress on this? I would really like to use this in our projects at Acquia.

[2018-03-21 13:11] ggarek opened #3785 "Add a rule "ensure-named-export""
### Rule Proposal

Using `ensure-named-export` one can assert that a module has named export named over the file name.

### Example

[code]

[code]

[code]

### Implementation
[the repo](https://github.com/ggarek/lint-ensure-named-export-rule) | [the rule](https://github.com/ggarek/lint-ensure-named-export-rule/blob/master/lib/tslint/rule/ensureNamedExportRule.ts)

[2018-03-21 13:15] mignonat commented on #2099
It works fine and permits not to modify sources, thanks

[2018-03-21 15:30] ljani opened #3786 "--fix is very slow if there are multiple issues"
### Bug Report

- __TSLint version__: `5.9.1`
- __TypeScript version__: `2.7.2`
- __Running TSLint via__: CLI

`--fix` is very slow if there are hundreds or thousands (957 in my case) of linting issues, which are fixable automatically. For example adding a bunch of new rules or changing your code style can introduce such cases.

This issue seems to be calling [`createProgram`](https://github.com/p

[2018-03-21 15:38] ajafff commented on #3786
That's a known issue. If you have many style issues, you can run tslint without `--project` to fix those failures first. That should be way faster. Afterwards you can fix the remaining failures that require type information.

You can also use my alternative linter runtime to execute TSLint rules. It's optimized for speed. It can probably fix your whole project in a couple of seconds.
You can find

[2018-03-21 15:49] ljani commented on #3786
@ajafff Thanks. I tried searching the issues for it, but didn't find anything. Is there an issue I could subscribe to and close this one?

[2018-03-21 17:59] ajafff commented on #3786
It turns out there is no other issue tracking this performance problem. I only answered a similar question on Gitter. So this was only a known issue for me.

Unfortunately there's not much that can be done to fix this in the current implementation. There's no separation of concerns so the linter cannot know how to update the program (it already assumes too much implementation details to be 100% co

[2018-03-21 19:44] ljani commented on #3786
Thanks for the insight. I'll leave the issue open then.

The Fimbullinter project seems interesting, I'll give it a go.

[2018-03-21 23:56] rhys-vdw opened #3787 "[Rule request] Single spaces"
I would like a rule to enforce the following:

[code]

It seems `whitespace` will add a minimum spacing for many operators, but not limit a maximum number of spaces.

[2018-03-22 05:41] ggarek commented on #3787
i guess, we are speaking about the rule as [`eslint/no-multi-spaces`](https://eslint.org/docs/rules/no-multi-spaces)

[2018-03-22 05:47] ggarek commented on #3775
@fandy, i think there is already a rule for this use case [`semicolon`](https://palantir.github.io/tslint/rules/semicolon/)

[2018-03-22 05:51] ggarek commented on #3774
JIC @AkshanshSrivastava03, you can specify `rulesDirectory?: string | string[]` in the [config](https://palantir.github.io/tslint/usage/configuration/) _(you are already using in your example)_

[2018-03-22 08:59] m93a opened #3789 "no-shadowed-variable in nested namespaces"
### Bug Report

- __TSLint version__: 5.9.1
- __TypeScript version__: 2.7.2
- __Running TSLint via__: Visual Studio Code
- __Related to this issue__: #3088

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior
The declarations of both `Foo.Foo` and `Foo.Foo.Bar` throw errors: `[tslint] Shadowed name: [...] (no-shadowed-variable)`.

#### Expecte

[2018-03-22 10:18] IlCallo commented on #3540
I'm experiencing a problem really similar to the one of @thejohnfreeman, where a variable is highlighted by VSCode as possibly undefined (I know it's not, by design) but when i put a `!` after it (`event.params!.alarm`) TSLint complains that's not necessary

[2018-03-22 10:52] rix0rrr opened #3790 "tsc warning is treated as an error"
### Bug Report

- __TSLint version__: 5.9.1
- __TypeScript version__: 2.5.2
- __Running TSLint via__: CLI

#### TypeScript code being linted

TypeScript recently introduced a `strictPropertyInitialization` setting. Our code is not compliant with the check, and so we're setting it to false. We're also trying to support multiple versions of TypeScript (both those with the new setting and without the

[2018-03-22 10:56] TeoTN commented on #3253
I'd love to see that max-calls-per-line!

[2018-03-23 13:55] daaa57150 commented on #2976
Exactly that! Please?
I wanted to enable this rule in my Angular project but it complains for all ngOnSomething() methods :(
Adding `: void` everywhere just clutters the code in my opinion, an option to make an exception for void methods would be perfect.

[2018-03-23 14:42] burtek commented on #2104
Duplicate of #696 ?

[2018-03-23 18:53] RueDeRennes opened #3791 "region check"
what is the best way to check are implementations in a region? like this:
// #region Imports
// #endregion

// #region Constructors
// #endregion

// #region Properties
// #endregion

// #region Methods
// #endregion

is there any rule for that?

[2018-03-24 02:54] commendatore commented on #2647
Thank you

[2018-03-24 07:10] wwarby commented on #3784
I'm seeing the same behaviour in the same scenario, only difference is I'm using TypeScript 2.7.2.

[2018-03-25 03:38] idmontie commented on #3677
This is my usecase as well. When working in es6+babel, I usually have my test files as `*.test.js` next to the file I'm testing. When I moved to typescript, it looks like this isn't really the norm.

[2018-03-25 19:32] awwong1 commented on #3446
Not sure if this is also a false positive, but are imports supposed to also include `devDependencies` (tests, for instance)?

[code]

[code]
<img width="442" alt="screen shot 2018-03-25 at 1 31 17 pm" src="https://user-images.githubusercontent.com/2760111/37879141-d93532ba-3030-11e8-8745-97c3a19fdf46.png">

[2018-03-26 10:04] jishi opened #3793 "-p with provided glob exits with error if file is not in `include` section of tsconfig.json"
According to the page https://palantir.github.io/tslint/usage/type-checking/ you are supposedly able to use

`tslint -p tsconfig.json **/*.ts # ignores files in tsconfig.json and uses the provided glob instead`

Which I assumed would work to include test files into linting even if you only transpiled the source files with typescript (using `include` globs in tsconfig.json).

### Bug Report

- __TS

[2018-03-26 12:34] ajafff commented on #2021
FWIW I have a working implementation of `prefer-for-of` with type information as part of the core rules of the [Wotan linter runtime](https://github.com/fimbullinter/wotan/blob/master/packages/wotan/README.md).

[2018-03-26 20:13] yarinr commented on #3782
I believe the indent rule is only suppose to detect usage of the wrong kind of indentation (as in a tabs when it was configured to only allow spaces).

It does not enforce "correct" indentation of constructs. Your complaint is not unique to object literals:
[code]
Will not raise an error - and the same goes for any other unindented construct.

[2018-03-27 04:37] rhys-vdw commented on #3782
Ah, then what is [`no-irregular-whitespace`](https://palantir.github.io/tslint/rules/no-irregular-whitespace/)? The docs don't really explain what it does.

[2018-03-27 07:16] rhys-vdw opened #3794 "[one-line] False positive for `finally`"
### Bug Report

- __TSLint version__: 5.9.1
- __TypeScript version__: 2.7.2
- __Running TSLint via__: VSCode

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior

![image](https://user-images.githubusercontent.com/822105/37952257-e1aa2bf6-31ea-11e8-9e8b-311127f94b15.png)

#### Expected behavior

No error

[2018-03-27 07:17] rhys-vdw commented on #3794
lol, I'm silly

[2018-03-27 07:17] #3794 closed

[2018-03-27 09:30] arpitparmar5739 commented on #3716
class Engine {
    constructor(public horsePower: number,
        public engineType: string) { }
}

class Car {
    private _engine: Engine;
    constructor(engine: Engine) {
        this.engine = engine;
    }

    get engine(): Engine {
        return this._engine;
    }

    set engine(engine: Engine) {
        if (engine === undefined) throw 'Supply Engine';
        this._engine = engine;

[2018-03-27 21:52] charles-salmon opened #3795 "Rule "trailing-comma" provides false positive on object rest in destructuring assignment"
### Bug Report

- __TSLint version__: 5.9.1
- __TypeScript version__: 2.7.2
- __Running TSLint via__: VSCode

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior

`Missing trailing comma (trailing-comma)` error is raised on object rest.

#### Expected behavior

`Missing trailing comma (trailing-comma)` error should not be raised on object rest

[2018-03-27 21:58] aervin commented on #3795
@charles-salmon I think this is (or has been) a [topic of discussion](https://github.com/palantir/tslint/issues/3147) already.

[2018-03-27 22:28] charles-salmon commented on #3795
@aervin Apologies, I missed that. It looks as though the last issue was closed on the basis that it is _valid_ to use a comma after an object rest in TypeScript, so perhaps it's not very fitting for this to have been raised as a Bug Report.

Stylistically, however, I'm now convinced that it makes little sense to enforce that an object rest _must have_ a comma. The point of the trailing-comma rule

[2018-03-28 01:04] aervin commented on #3795
@charles-salmon I took a look at the docs and found this: `To align this rule with the ECMAScript specification that is implemented in modern JavaScript VMs, there is a third option esSpecCompliant. Set this option to true to disallow trailing comma on object and array rest and rest parameters.` Could this solve the problem? I've never tried it myself.

[2018-03-28 01:24] charles-salmon commented on #3795
@aervin Perfect! That was exactly what I was after. Thank you for your help.

[2018-03-28 01:24] #3795 closed

[2018-03-28 09:30] yogainalift opened #3796 "[Bug] rule max-line-length ignore-pattern option does not work"
### Bug Report

- __TSLint version__: 5.9.1
- __TypeScript version__: 2.8.1
- __Running TSLint via__: CLI

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior
ERROR: 1:1  max-line-length  Exceeds maximum line length of 140
#### Expected behavior
no errors

[2018-03-28 13:12] tdolsen commented on #3364
I'd very much like to see this getting fixed as well. Path mapping is a highly valued feature. I also tried using linked modules as a workaround, but those aren't supported either.

I did figure out a workaround that solves the issue somewhat for me, but it's not certain it will for everyone, or that it's maintainable at all. Anyway, the solution goes as follows:

Add a fake package to `optionalDe

[2018-03-28 13:15] tdolsen commented on #3483
For those interested have I figured out a very [hacky workaround](https://github.com/palantir/tslint/issues/3364#issuecomment-376881389), while we are waiting for a real fix.

[2018-03-28 20:22] suchanlee commented on #3784
what's the type of `Injectable` when imported?

[2018-03-28 20:26] suchanlee commented on #3782
`no-irregular-whitespace` is inspired by https://eslint.org/docs/rules/no-irregular-whitespace. We can work to improve the docs. For code formatting, try using tools like https://github.com/prettier/prettier

[2018-03-28 20:27] johnwiseheart commented on #3791
Hi there,

It would appear that this issue is not directly related to a bug or feature request. We request that you use StackOverflow to ask questions about tslint, and tslint rules. Going to close this issue, but please feel free to re-open if you think this is a bug.

Thanks,
TSLint Team

[2018-03-28 20:27] #3791 closed

[2018-03-28 20:32] wwarby commented on #3784
It's an empty interface:

`export interface Injectable {}`

The decorator is defined like this:

`export declare const Injectable: InjectableDecorator;`

Hovering over the decorator in vscode shows:

[code]

Hope that helps

[2018-03-28 20:33] wwarby commented on #3784
Hovering over the import statement in vscode shows:

[code]

[2018-03-28 20:34] #3775 closed

[2018-03-28 20:36] suchanlee commented on #3767
why would you expect tslint to give you warnings in this case?

[2018-03-28 20:37] johnwiseheart commented on #3745
As you mentioned, I think the issue in this situation is that its hard to tell what the size of a tab _is_. What happens with code like:
[code]

[2018-03-28 20:38] johnwiseheart commented on #3725
Hi there,

It would appear that this issue is not directly related to a bug or feature request. We request that you use StackOverflow to ask questions about tslint, and tslint rules. Going to close this issue, but please feel free to re-open if you think this is a bug.

Thanks,
TSLint Team

[2018-03-28 20:38] #3725 closed

[2018-03-28 20:38] suchanlee commented on #3767
I don't think it's the responsibility of tslint to keep track of where and how you use your awaits. The above is valid code and depending on what the context is it may or may not be correct. tslint helps with readability, maintainability, and functionality errors, none of which I believe include this particular issue.

Closing but happy to revisit if you feel strongly otherwise.

[2018-03-28 20:38] #3767 closed

[2018-03-28 20:43] johnwiseheart commented on #3689
Hi there,

I think this is a dupe of https://github.com/palantir/tslint/issues/3711

Feel free to re-open if you disagree.

Thanks,
TSLint Team

[2018-03-28 20:43] #3689 closed

[2018-03-28 20:49] johnwiseheart commented on #3754
Hi there,

It would appear that this issue is not directly related to a bug or feature request. We request that you use StackOverflow to ask questions about tslint, and tslint rules. Going to close this issue, but please feel free to re-open if you think this is a bug.

Thanks,
TSLint Team

[2018-03-28 21:03] johnwiseheart commented on #3160
Hi there,

Before we consider this for the core library, it would be great if you could develop and release the rule as a separate package. You can find instructions on how to do this in our [docs](https://palantir.github.io/tslint/develop/custom-rules/). Going to close this down, but feel free to reopen if you disagree or have comments.

Thanks,
TSLint Team

[2018-03-28 21:03] #3160 closed

[2018-03-28 21:05] johnwiseheart commented on #3637
Going to close this issue as it appears to be resolved by @peterreisz 's comment above.

[2018-03-28 21:05] #3637 closed

[2018-03-28 21:06] suchanlee commented on #3756
The rule for `prefer-const` is as follows:
[code]

In this case, the linter is correct in saying that you can use `const` instead because it's never reassigned, which is correct. The linter (or the compiler in this case) isn't responsible for _how_ the variable is used.

The problem you're saying is that because it's block-scoped, you don't have access to it in your catch block. I think the correc

[2018-03-28 21:11] johnwiseheart commented on #3591
Lets close this out, since we're avoiding using AST in configuration.

[2018-03-28 21:11] #3591 closed

[2018-03-29 00:56] AlexanderOMara opened #3797 "The source string is discarded when using the program argument."
### Bug Report

- __TSLint version__: 5.9.1
- __TypeScript version__: 2.7.2
- __Running TSLint via__: Node.js API

I don't know if this is the intended behavior as it's not really documented, but using the Node.js API with the `program` argument like this:

[code]

Discards the `source` string argument:

[code]
[(source)](https://github.com/palantir/tslint/blob/235561e411c58ecbd4d96844fae28e998f0c

[2018-03-29 04:45] sam-s4s opened #3798 "[Feature Request] space-within-parens exception for comments"
### Feature Request

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior
Comment with space in front of the // causes the rule to fire, generating an error.

#### Expected behavior
Spaces should be allowed for comments (you don't want a comment right up against the paren).

Even if there is an option to allow spaces around comments, or somethi

[2018-03-29 06:19] ajafff commented on #3756
Wait a minute @suchanlee. This is a legitimate bug report.

In the code above it is **not possible** to change `var` to `let`.

The correct fix for this bug is not reporting an error. It's not the scope of this rule to forbid `var`.
In addition that would require moving all declarations around and adding type annotations. Or you just move that one declaration out of the tryBlock and need to split

[2018-03-29 07:25] selfrefactor commented on #3756
@ajafff Spot on!

Thanks for the info.

[2018-03-29 09:41] RomkeVdMeulen opened #3799 "[no-shadowed-variable] Allow generic types parameters of same name"
### Bug Report

- __TSLint version__: 5.9.1
- __TypeScript version__: 2.8.1
- __Running TSLint via__: gulp-tslint

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior

[code]

#### Expected behavior
No error.

[2018-03-29 10:48] phyllisstein opened #3800 "[no-unused-variable] Unused destructured variables ignored with object rest syntax."
### Bug Report

- __TSLint version__: `v5.9.1`
- __TypeScript version__: `v2.8.1`
- __Running TSLint via__: (pick one) Atom's `linter-tslint`

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior
TSLint flags `obj` as unused, and ignores `a` and `b`.

#### Expected behavior
It would be great if it were possible to at least configure this to cat

[2018-03-29 10:53] paulkoerbitz commented on #3664
I think tslint-auto-disable is in a usable state now. @stefan-m  if you're still interested, I'm interested in feedback. It's also on npm now: https://www.npmjs.com/package/tslint-auto-disable

[2018-03-29 11:37] IanEdington commented on #3654
I would agree with this. Aliases are becoming more popular and this would be super useful.

[2018-03-29 13:13] tvuotila opened #3801 "no-unbound-method warns when deleting property"
### Bug Report

- __TSLint version__: 5.9.1
- __TypeScript version__: 2.4.2
- __Running TSLint via__: CLI

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior

Error `Avoid referencing unbound methods which may cause unintentional scoping of 'this'.`

#### Expected behavior
No error. I am deleting a property. There is no risk on deleting unbou

[2018-03-29 16:07] suchanlee commented on #3756
@selfrefactor @ajafff I apologize if I came across as rude. I was actually thinking about this last night and had planned on reopening this today. As @ajafff stated, yes I now think that TSLint should catch this case and report it as such. Again, sorry for the confusion -- I'm just ramping on to the TSLint project and learning about what are and are not its responsibilities. And thank you @ajafff

[2018-03-29 18:35] johnwiseheart commented on #3800
I think it makes sense to add an extra flag for this.

[2018-03-29 19:17] ajafff commented on #3800
Turns out the custom rule [`no-unused`](https://github.com/ajafff/tslint-consistent-codestyle/blob/master/docs/no-unused.md) from my package `tslint-consistent-codestyle` already checks siblings of object rest. You need to explicitly ignore the variable by adding an underscore prefix.

[2018-03-29 23:07] sam-s4s commented on #3798
That sounds good, but just to confirm, there is a space between the parenthesis and the double slash - not technically inside the comment :) I think that's the main thing it's complaining about?

[2018-03-31 04:47] EFanZh opened #3803 "[Bug] Rule “prefer-readonly” does not handle destructing assignment correctly"
### Bug Report

- __TSLint version__: 5.9.1
- __TypeScript version__: 2.8.1
- __Running TSLint via__: VSCode

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior

TSLint reports: "Private member variable 'a' is never reassigned; mark it as 'readonly'. (prefer-readonly)".

#### Expected behavior

TSLint does not report error.

[2018-03-31 20:22] lexcorp16 commented on #3206
Hi @tkrotoff I would like to take a crack at this. This is my first attempt at contributing to open source and I will be glad if you could point me in the right direction. Thanks

[2018-04-02 11:40] danielberndt opened #3804 "[Rule Request] no-promise-in-boolean-expressions"
We're working with a lot of async/await in our backend code, and the most frequent source of mistake I found in our code base has this shape:

[code]

whereas it should be

[code]

I'm aware of the `strict-boolean-expressions` rule, but its ruleset is too strict for our code. So I'm suggesting to create a softer version which allows anything but promises in boolean expressions.

[2018-04-02 13:02] saitonakamura commented on #2503
`--forceConsistentCasingInFileNames` works in different way. If there will be multiple imports imports to the same file with inconsistent casing, e.g. `import b from 'bluebird'` and `import b from 'Bluebird'` it will throw an error. So it doesn't prevent from wrong spelling when you're writing this import in the first place.

[2018-04-02 17:06] smitt04 commented on #2099
Just so I am on the same page, is this not going to be fixed unless it is done as a PR?

[2018-04-03 12:53] chrismbarr opened #3805 "Suggestion/Idea: non-disableable rules"
I would love to have the ability to ignore all rule disables and just report on all violations found regardless of these.  I could see this being a configurable option from the CLI like
[code]
to run it this way one-time, or possibly an option per-rule in case there's something important that should never be worked around:
[code]

So with either one of those, the following code would still produce

[2018-04-03 19:52] UselessPickles opened #3806 "[completed-docs] False negative on class-level docs if a member of the class has @inheritdoc"
### Bug Report

- __TSLint version__: 5.9.1
- __TypeScript version__: 2.7.2
- __Running TSLint via__: CLI

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior
No rule failures.

#### Expected behavior
Rule failure due to the class missing documentation.

If I change documentation for method `foo()` to have documentation without `@inheritdoc`,

[2018-04-03 20:13] ethanresnick commented on #3021
I'd love to see this addressed too. `let SomeModel: SomeModel` or similar shouldn't fail. There's no shadowing or reader ambiguity, and it makes sense for the type and the variable to have the same name in some cases.

[2018-04-04 09:54] Xarkam opened #3808 "Should TSLint run when there are syntactic errors in the file?"
### Bug Report

- __TSLint version__: 5.9.1
- __TypeScript version__: 2.8.1
- __Running TSLint via__: Visual Studio

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior
Because a picture is better than a long speech :
![image](https://user-images.githubusercontent.com/331816/38300957-88156f64-37fe-11e8-8da5-c43b07d249d1.png)
#### Expected beha

[2018-04-04 17:10] euclio commented on #3793
Related to https://github.com/palantir/tslint/issues/3677

[2018-04-04 22:50] grimly commented on #3755
The same happen on type detection.

This code throws a `no-unbound-method` error

[code]

[2018-04-04 23:32] grimly opened #3809 "no-void-expression does not support arrow function declaration"
### Bug Report

- __TSLint version__: 5.9.1
- __TypeScript version__: 2.8.1
- __Running TSLint via__: CLI

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior

`no-void-expression` because `alert` returns void.

#### Expected behavior

No error.

[2018-04-05 00:04] ianks commented on #3664
This feature becomes necessary on ant reasonably large sized project. For inspiration, rubocop handles this situation very elegantly with the option `--auto-gen-config`

[2018-04-05 06:25] grimly commented on #3808
You have two errors at different places. Try validating this :

[code]

I switched `,` and `}` to add the trailing comma in the object literal and remove the one in the `forRoot` function call.

And I added the `)` back in the end of the `forRoot` function call.

[2018-04-05 06:39] gauravmahto opened #3810 "prefer-switch: missing some cases"
### Bug Report

- __TSLint version__: 5.9.1
- __TypeScript version__: 2.8.1
- __Running TSLint via__: CLI / VSCode / WebStorm

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior
TSLint: Use a switch statement instead of using multiple '===' checks. (prefer-switch)

#### Expected behaviour
TSLint should not warn about this. Here 'null' is a ke

[2018-04-05 10:01] PaulGarnerUk opened #3811 "'Missing Semicolon' error when using definite assignment assertion modifier (aka damnit operator) in Typescript"
### Bug Report

- __TSLint version__: 5.9.1
- __TypeScript version__: 2.7.2
- __Running TSLint via__: Visual Studio

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior
Linter errors 'Missing semicolon'

#### Expected behavior
No error. Seems the linter is not correctly parsing the new syntax introduced in Typescript 2.7.x which comes into pla

[2018-04-05 11:27] ohrrkan commented on #3689
Same Issue. Installing yarn and updating typescript to 2.8.1 do not solve.
The issue only pop with the "ionic cordova build android --prod"
but not without the "--prod" flag "ionic cordova build android".

`TypeError: Cannot read property 'kind' of undefined
    at declareSymbolAndAddToSymbolTable (/Users/me/Desktop/proj/client/node_modules/typescript/lib/typescript.js:22164:31)
    at bindPropert

[2018-04-05 15:15] felpel commented on #3784
@suchanlee I think @wwarby gave you the information that you needed for your initial investigation.

[2018-04-05 18:52] johnwiseheart commented on #2985
Hey all,

@suchanlee, @walkerburgin and I have recently come on as new maintainers. It's going to take us a little while to ramp up, but we've already started categorizing some issues, as well as looking into PRs. Its unfortunate that the repo went without active maintainers for some time, but we hope to improve the situation and bring the repo back to a healthy status. @ajafff - thank you for con

[2018-04-05 19:37] AlCalzone opened #3812 "Duplicate quick fixes in VSCode"
### Bug Report

- __TSLint version__: 5.9.1
- __TypeScript version__: 2.8.1
- __Running TSLint via__: (pick one) VSCode

#### TypeScript code being linted
See screenshot below

with `tslint.json` configuration:

[code]

#### Actual behavior
When opening the quick fix dialog for errors reported by TSLint, specifically the ordered imports quick fix, the entries are shown twice:
![unbenannt](https://

[2018-04-05 19:48] #3357 closed

[2018-04-05 19:51] JoshuaKGoldberg opened #3813 "completed-docs erroring on CircleCI:testNext"
https://circleci.com/gh/JoshuaKGoldberg/tslint/437?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

The failure isn't expected, but is now showing up.

[code]

[2018-04-05 19:52] JoshuaKGoldberg commented on #3806
Duplicate of palantir.github.io/tslint/rules/ - rule should certainly respect `@inheritdoc`.

[2018-04-05 19:53] Xarkam commented on #3808
Yes, I have specified the missing one `)`
With the final `)` I've not error.

But it's disturbing to have this message with just a missing `)`

[2018-04-05 19:54] johnwiseheart commented on #3813
I believe @suchanlee has a fix for this.

[2018-04-05 20:15] UselessPickles commented on #3806
It's probably worth clarifying that this isn't specific to `@inheritdoc`, but probably more generically an issue with the `"existence"` feature that I'm using to implement the desired funcionality for `@inheritdoc`.

It seems that the `"existence"` feature is incorrectly cascading up, such that the class-level documentation validation is waived if any member of the class has its validation waved d

[2018-04-05 20:38] JKillian commented on #2985
Wooh, welcome @johnwiseheart / @suchanlee  / @walkerburgin! Going to close out this issue as I believe it has been addressed by your joining. However, others are of course still welcome to get involved whether by making PRs, reviewing PRs, or other ways if interested.

[2018-04-05 20:38] #2985 closed

[2018-04-05 22:59] JoshuaKGoldberg commented on #3804
Specifically which parts? Maybe the rule could have options added that would allow it to be flexible enough for you?

[2018-04-06 02:54] ShayBox opened #3814 "Rule option suggestion: Quotemark backtick"
### Bug Report

- __TSLint version__: 5.9.1
- __TypeScript version__: 2.8.1
- __Running TSLint via__: VSCode

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior

\' should be " (quotemark)

#### Expected behavior

Should allow you to use backticks

This is a rule option suggestion, to allow `backtick` as an option like single and double, like

[2018-04-06 04:31] ShayBox opened #3815 "no-invalid-template-strings not working"
### Bug Report

- __TSLint version__: 5.9.1
- __TypeScript version__: 2.8.1
- __Running TSLint via__: VSCode

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior

No errors

#### Expected behavior

Errors from using template strings without ${} in them

And yes, other rules are working

[2018-04-06 13:52] JoshuaKGoldberg commented on #3815
What are the errors?

[2018-04-06 14:07] JoshuaKGoldberg opened #3817 "prefer-object-spread: also flag loops that should be spreads"
### Bug Report

- __TSLint version__: 5.9.1
- __TypeScript version__: 2.8.1
- __Running TSLint via__: (pick one) VS Code

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior

No errors.

#### Expected behavior

Looping over `alpha` with the same `hasOwnProperty` check spreading uses after declaring the variable as `const` should be flagged as

[2018-04-06 15:01] taicho commented on #512
@fandy I for one would welcome the PR. I had actually carried over the standard I-prefix from C# but after having read through a lot of the _current_ naming conventions and standards it seems that interfaces not being prefixed with "I" has become widespread enough to consider it _the_ standard. Added to the fact that the TS Team does not choose to prefix with "I" for a variety of reasons it just l

[2018-04-06 15:10] jupl commented on #3399
I understand removing type checking, but right now I need to use `--type-check` for TSLint rules that require type info. Without this option there's missing errors that are not showing up. How do I get rule violations for rules where type info is required?

[2018-04-06 15:18] jupl opened #3818 "Advice on removing --type-check breaks rules requiring type info"
### Bug Report

- __TSLint version__: 5.9.1
- __TypeScript version__: 2.8.1
- __Running TSLint via__: CLI

Currently I'm using `tslint --type-check --project tsconfig.json` to check for linting with rules requiring type info included. I do get the warning `--type-check is deprecated. You only need --project to enable rules which need type information.`, but I get all rule violations. When I try to

[2018-04-06 16:35] ShayBox commented on #3815
None, that's the expected behavior, that's the problem

[2018-04-07 00:28] JoshuaKGoldberg opened #3820 "Rule request: no-early-variables"
#### TypeScript code being linted

[code]

#### Expected behavior

It's cleaner to only initialize variables if they're used. The above could be statically analyzed to:

[code]

_(which would play nicely with tslint-microsoft-contrib's `no-unnecessary-local-variable`)_

The easy case for this rule would be just primitives & object literals.

More difficult would be a function with side effects...

[2018-04-07 01:10] dmi3y opened #3821 "tslint.yaml anchor expand treated as rule"
### Bug Report

- __TSLint version__:  tslint@5.9.1
- __TypeScript version__: typescript@2.4.2
- __Running TSLint via__:  CLI

I'm trying to leverage yaml anchors for common settings in between ts and js lint rules, and encounter following error:

[code]
I tested `js-yaml@3.7.0` and it will expand `tslint.yaml` into json as expected, so I assume it is happen sometime before converting config file

[2018-04-07 01:41] dmi3y commented on #3821
Apparently this design question of schema [selection](https://github.com/palantir/tslint/blob/master/src/configuration.ts#L244), not sure how safe/unsafe would be to change it

[2018-04-07 08:28] suchanlee commented on #3813
Quite a few tests broke from TS2.8 and I’ve been working through those, but starting 2.8, the `ts.Diagnostic` block seems to have changed which broke a ton of tests for `no-unused-variable`.

Not sure if the fix here is to go through the tests and fix the tests or to actually change the code to handle this so that its output remains the same as <2.8. I'll do some investigation on what has changed.

[2018-04-07 13:07] edevine commented on #3711
I experience this with
yarn 1.5.1
tslint: 5.9.1,
typescript: 2.7.2

Downgrading to yarn 1.3.2 resolved the issue.

[2018-04-07 17:32] JoshuaKGoldberg opened #3822 "Rule request: has-own-property"
#### TypeScript code being linted

[code]

#### Expected behavior

`container.hasOwnProperty` isn't guaranteed to work as expected, since the object might override it. You're better off using `{}.hasOwnProperty.call(container, i)` (or, [as TypeScript prefers](https://github.com/Microsoft/TypeScript/issues/23208), `Object.prototype.hasOwnProperty.call(container, i)`.

Docs of this rule should proba

[2018-04-07 17:33] JoshuaKGoldberg commented on #3738
@johnwiseheart nit: this should probably have the `Type: Bug` label instead of `Type: Rule Suggestion`.

[2018-04-08 11:47] grimly commented on #3808
This is odd, but when it come to parsing, the missing closing parenthesis may have seen something completely different to what we may think.

It might have back-tracked to something that is not the `RouterModule.forRoot` function call.

I don't think the linter can do a lot here.

[2018-04-08 11:54] grimly commented on #3822
You can use the [`ban`](https://palantir.github.io/tslint/rules/ban/) rule to that effect then make use of something like `Object.getOwnPropertyDescriptor(container, i) !== undefined` (you can even omit the `!== undefined` part)

[2018-04-08 11:57] JoshuaKGoldberg commented on #3822
Ooh, that should work for most scenarios.

One corner case: if someone coincidentally has a member function named `hasOwnProperty` and wants to use it. That seems like a dangerous idea. Adding an example to the `ban` rule that explains both the reasons to ban `hasOwnProperty` and why you shouldn't name your methods that should be good.

[2018-04-10 03:49] uccmen commented on #3269
👏🏽

[2018-04-10 09:56] MateuszStefek opened #3827 "rulesDirectory in extended configuration should also be resolved against the current dir"
### Bug Report

- __TSLint version__: 2.9.1
- __TypeScript version__: 2.6.2
- __Running TSLint via__: CLI

####
I have a company-wide tslint configuration which is used by various projects via `"extends"` configuration.

I don't seem to be able to configure `tslint-defocus` to be included in the shared configuration.

The shared configuration:
[code]
Projects use this configuration in the followin

[2018-04-10 13:07] th0r commented on #811
Another lint error that I faced after updating tslint from `5.8.0` to `5.9.1`:

![image](https://user-images.githubusercontent.com/302213/38558554-2b309bf4-3cd9-11e8-9225-1108cf568c93.png)

I use `?` to specify optional class property (and seems like it's a valid Typescript).

[2018-04-10 19:49] fchiumeo commented on #3483
Any forecast if that will be implemented?

[2018-04-11 15:35] iarroyo5 opened #3828 "Labelling the rules with the preset they belongs to"
#### Rules Doc Enhancement
There are three types of TSLint presets: **tslint:recommended**,  **tslint:latest** and **tslint:all**, but there is not easy way to identify if a rule is part of the **recommended** preset for example, the only way I can find is going to this [doc: recommended.ts](https://github.com/palantir/tslint/blob/master/src/configs/recommended.ts) and search later on in the list

[2018-04-12 01:34] jackple commented on #2793
Is there a way the solve this problem?

[2018-04-12 01:44] MiguelMadero commented on #3399
I was considering using `tsc --noEmit` but that adds about 7 more seconds to our build time for each package, while tsling with `--type-check` is only ~0.9 seconds, I'm assuming a lot of the work is duplicated between both tools.

[2018-04-12 08:55] Jancat opened #3829 "Cannot find module 'typescript'"
### Bug Report

- __TSLint version__: 5.9.1
- __TypeScript version__: 2.8.1 (**global installed**)
- __Running TSLint via__: VSCode、CLI

#### `tslint.yaml` configuration

[code]

#### `package.json` configuration
[code]

#### Execute command
[code]
#### Actual behavior
[code]

The **xxx/node_modules/tslint/lib/linter.js:22:10** :
[code]

#### Expected behavior
Lint the ts files.

[2018-04-12 14:39] SophieLeeroy opened #3830 "Trailing Comma error in JS files and CallSignature"
### Bug Report

- __TSLint version__:5.9.1
- __TypeScript version__:2.8.1
- __Running TSLint via__:  VSCode

#### TypeScript code being linted

[code]

#### Actual behavior
TypeError: Cannot read property 'end' of undefined
    at cb (.....\node_modules\tslint\lib\rules\trailingCommaRule.js:163:133)
    at visitNode (....\node_modules\typescript\lib\typescript.js:13990:24)
    at Object.forEachChi

[2018-04-13 06:00] james-prado opened #3832 "Ternary with null value marked as unused expression"
### Bug Report

- __TSLint version__: 5.9.1
- __TypeScript version__: 2.7.2
- __Running TSLint via__: VSCode

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behaviour

Referring to the null value -`[tslint] unused expression, expected an assignment or function call (no-unused-expression)`

#### Expected behaviour

Allow ternary operations that eva

[2018-04-13 06:36] JoshuaKGoldberg commented on #3830
@SophieLeeroy it sounds like you've found a solution (great!) but it's hard to verify the problem or write tests for it without a code snippet that can reproduce the crash. Any chance you can share the specific .ts/.tsx file it crashes on?

Since you're already playing around with the compiled TSLint js, if you add a console log for `sourceFile.fileName` on line 163 of `trailingCommaRule.js` it'll

[2018-04-13 06:37] JoshuaKGoldberg opened #3833 "If a rule crashes, something should print the file name"
Using https://github.com/palantir/tslint/issues/3830 as an example, it'd be easier to narrow down failures for issue reports if the specific file a rule crashes on were printed with the error details.

[2018-04-13 06:56] SophieLeeroy commented on #3830
hi @JoshuaKGoldberg thanks for the help!
I did it and funnily (or not) it is my bundle.js...hmm... I still belive that my JS files create the error, since I have the project without them too and there it is working without issues.
I am using ChartJS library with React and TypeScript. I will try to extract ithe corresponding codeparts to an app that you can check it as well.

`Oh my! ...front-end/p

[2018-04-13 08:12] rraziel commented on #3687
Some update.

This command does not work (on Windows only):
[code]
This one, however, does:
[code]
The `tsconfig.json` is enough to compile already (with `tsc -p`), so being sufficient for tslint as well makes sense.

Still a bit odd that the behavior is different depending on the OS. Maybe those extra arguments should always be ignored and a warning issued when both a project file and "normal" ar

[2018-04-13 14:38] jcreamer898 commented on #746
The one I wanna fix is the `import {module} from "foo";` Anybody have a good solve for that?

[2018-04-13 20:45] alexburner commented on #3482
I agree this would be very helpful.

It would also be very nice, but maybe a lot to ask: to have an auto-fixer for these :)

[2018-04-14 20:21] aryzing opened #3835 "perf_hooks built-in produces "not listed as dependency" error in VSCode"
### Bug Report

- __TSLint version__: 5.9.1
- __TypeScript version__: 2.8.1
- __Running TSLint via__: (pick one) VSCode

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior

Reports `perf_hooks` as not listed in dependencies.

[code]

#### Expected behavior
For this error to not appear.

I've also tested it with the CLI, and this error does **

[2018-04-16 02:29] bowenni commented on #3796
I think your `max-line-length` option is wrong.
Try
[code]

[2018-04-16 03:40] bowenni commented on #3803
According to https://palantir.github.io/tslint/rules/prefer-readonly the `prefer-readonly` rule only checks if the private variable is modified in the constructor so this is working as intended?

[2018-04-16 08:04] JoshuaKGoldberg commented on #3813
@suchanlee would you like me to just remove that part of the `completed-docs` tests?

[2018-04-16 11:12] samal84 commented on #3745
Thank you @0815fox. You're making a lot of sense to me.

So ```"indent": [ true, "tabs", 1 ]``` should be defining that "one level of indentation" is one tab character, just like ```"indent": [ true, "tabs", 2 ]``` should mean that "one level of indentation" is exactly two tab characters. What width the user decides to render a tab characters as is then up to the user, as it always is when doing t

[2018-04-16 11:47] 0815fox commented on #3745
I would expect @johnwiseheart 's example to produce an error in all cases, unless indent is disabled completely. Both console.log commands have the same level of indentation from a code structure point of view.

Assuming, that his first console.log is indented by one tab character and his second one by two tab characters, "indent": [ true, "tabs", 1 ] would mark the second one as wrong, "indent":

[2018-04-16 14:29] Zarepheth commented on #3589
I'm having the same problem with an Angular 5.x component. I have an optional `@Input` field that should accept a function. For consistency, I place fields decorated with `@Input`, `@Output`, and such at the top of my component. However, I want this Function typed field to default to a specific function. To accomplish that, I use an arrow expression.

Even though it is semantically a Field, TSLint

[2018-04-16 14:49] Zarepheth commented on #3589
As a workaround, I declare but Do Not Initialize the Function Field. Then I test for and initialize the Function Field just before I use it.

[code]

This a bit of a hassle and will be worse the more places one needs to test for and initialize the Function Field.

[2018-04-16 18:57] Falieson commented on #3357
@JoshuaKGoldberg I disagree that the PR #3734 closes this issue.
https://palantir.github.io/tslint/rules/member-ordering/ should have an example of usage with the `alphabetize` option. Its not even included in the schema.

[2018-04-16 18:58] Falieson commented on #3357
@johnwiseheart  I disagree that the PR #3734 closes this issue.
https://palantir.github.io/tslint/rules/member-ordering/ should have an example of usage with the alphabetize option. Its not even included in the schema.

[2018-04-16 21:51] mastermatt opened #3837 "Checkstyle formatter does not include error free files."
### Bug Report

- __TSLint version__: 5.9.1
- __TypeScript version__: 2.8.1
- __Running TSLint via__: CLI

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]
`tslint --project . --format checkstyle index.ts`

#### Actual behavior (newlines added for readability)
[code]
#### Expected behavior
[code]

As noted in https://github.com/palantir/tslint/issues/250, [this

[2018-04-16 22:12] mastermatt commented on #3837
Seems related to https://github.com/palantir/tslint/issues/3744

[2018-04-17 08:27] #3796 closed

[2018-04-17 14:50] wata727 opened #3839 "Accept whitelist for no-implicit-dependencies"
I would like to specify whitelists for `no-implicit-dependencies` because of [webpack externals options](https://webpack.js.org/configuration/externals/).

#### TypeScript code being linted

[code]

webpack.config.js:

[code]

I guess this rule should accept whitelists as options. However, since the current option only accepts the type of dependencies, this is breaking change.
Is such a feature ac

[2018-04-17 18:45] 7sDream opened #3840 "no-magic-number don't handle negative zero well"
### Bug Report

- __TSLint version__: 5.9.1
- __TypeScript version__: 2.8.1
- __Running TSLint via__: CLI

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

PS: VSCode shows `Array has duplicate items` problem.

#### Actual behavior

Error:

[code]

#### Expected behavior

No error

[2018-04-18 09:45] ikokostya commented on #2107
Close issue, because related PR https://github.com/palantir/tslint/pull/3624 was merged.

[2018-04-18 09:45] #2107 closed

[2018-04-18 11:28] sssalib42 commented on #3540
@ajafff, Any update on this issue? I see that #3465 hasn't been updated for 5 months now!

[2018-04-18 11:43] ajafff commented on #3521
FWIW, I have a working solution in `no-useless-assertion` of [`@fimbul/wotan`](https://www.npmjs.com/package/@fimbul/wotan) https://github.com/fimbullinter/wotan/blob/master/packages/mimir/README.md#rules

[2018-04-18 12:55] heavybeard commented on #3646
Maybe you know, but I want to be sure: ES-Lint has the same rule with options.

I think should be used the same syntax for options

https://eslint.org/docs/rules/newline-per-chained-call

[2018-04-18 15:54] andraaspar opened #3842 "no-unused-variable does not remove unused imports with --fix"
### Bug Report

- __TSLint version__: 5.9.1
- __TypeScript version__: 2.8.1
- __Running TSLint via__: CLI

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

Command line:

[code]

#### Actual behavior
[code]

#### Expected behavior
Import for `Baz` removed in source file, as suggested here: https://palantir.github.io/tslint/rules/no-unused-variable/

#### Sample

[2018-04-18 16:17] JoshuaKGoldberg opened #3843 "import-blacklist: allow package name preferences?"
_(forking from https://github.com/Microsoft/tslint-microsoft-contrib/issues/422)_

When there are two modules that declare variables with the same name, it's easy to mistakenly import from the wrong package:

[code]

A rule that lets projects map imports to their preferred package imports would help:

[code]

...though this config could be misleading, as the `"rxjs"` setting tends away from that m

[2018-04-18 16:39] 7sDream opened #3844 "no-unbound-method with ignore-static not ignore Number.isNaN"
### Bug Report

- __TSLint version__: 5.9.1
- __TypeScript version__: 2.8.1
- __Running TSLint via__: CLI

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior

[code]

#### Expected behavior

No error emit

---

I notice this has been discussed in #2651, and it's closed.

[2018-04-19 14:54] BinaryBlock commented on #3689
**Same Issue**

Running `typescript 2.8.1`.
The issue only pops up with the "ionic cordova build ios --prod"
but works without the "--prod" flag "ionic cordova build ios".

**ionic info**
[code]

Here is error output:
[code]

We don't need to move to Production yet... so I will let this simmer and hope someone patches.

Thanks.

[2018-04-19 17:45] aervin commented on #3611
Fixed by #3612 and can be closed

[2018-04-20 04:30] JoshuaKGoldberg commented on #922
Copying discussion from #3824:

What if you declare something in an `externals.d.ts` file, or define your own `lib.dom.d.ts` with either that name or `my-lib.d.ts`?

Or what about a project that uses `namespace`s and has a `const name = "HA!";` somewhere?

Maybe the rule should get the list of files TS is compiling with _(can we do that?)_ along with its compiler options, and add `lib.d.ts`-like f

[2018-04-20 14:32] ajcrites commented on #3735
@nattyxd did you add `jsRules` to your `tsconfig` or `tslint.json`? `allowJs` is in tsconfig; with `allowJs` your `tslint.json` is expecting some `jsRules` (hence the bug). A workaround would be to add `"jsRules": { "no-empty": true }` to your `tslint.json` so that it has a rule and doesn't complain. This shouldn't have any impact I think. It's just a small annoyance.

[2018-04-20 16:32] liangchunn commented on #3735
@ajcrites Absolutely on point. I think this issue should be closed.

[2018-04-20 18:05] felipeissa opened #3847 "rule deprecation have no example no documentation"
On the TS lint deprecation rule documentation, the 'example' is empty and doesn't follow the pattern of the others rules documented.

Link: https://palantir.github.io/tslint/rules/deprecation/

#### Expected behavior

There should be an example of how to configure this rule.

[2018-04-23 08:37] KrzysztofJaneczko commented on #3450
Separating groups of imports is something I'd really like to have, too. Currently I use eslint with eslint-plugin-import to manage import groups and this would allow me to drop eslint entirely.

[2018-04-23 11:12] ghost opened #3849 "Add more function features"
The following features would be appreciated:

`max-function-line-count`:  A line limit for functions.

Add some parameters to `max-file-line-count` so that the line count can ignore lines containing comments, or empty lines, for example.

`single-return`:  Functions can only contain one return statement if this is set to true (some argue that long functions with multiple return statements can be h

[2018-04-23 13:47] saadq opened #3850 "[Feature Request] Allow a configuration object to be passed to linter.lint() instead of using Configuration.findConfiguration"
This isn't a bug report, so I erased the issue template – hope that's okay.

For my use case, I am using [TSLint as a Node.js library](https://palantir.github.io/tslint/usage/library/), and I need to create the TSLint config dynamically based on user input. Currently, I do this by dynamically creating a `tslint.json` file, and then using `Configuration.findConfiguration()` to get that config and t

[2018-04-23 14:14] calebmer opened #3851 "Ban namespace import and export"
Is there a way to ban namespace imports and exports with TSLint? e.g.

[code]

[2018-04-24 15:04] alexander-alzate commented on #3677
This issue is related to #1590, maybe reading from `stdin` would be a better approach.

[2018-04-24 18:12] JoshuaKGoldberg opened #3852 "Rule request: ordered-exports"
Like `sorted-imports`, but for exports. Same reasoning as before: makes it easier to organize & sort visually.

[2018-04-24 19:57] mastermatt commented on #3744
https://github.com/palantir/tslint/pull/3838 would pave the way for this.

[2018-04-25 00:05] johnwiseheart commented on #3851
Hmm, can you use the [ban rule](https://palantir.github.io/tslint/rules/ban/) for this?

[2018-04-25 00:09] johnwiseheart commented on #3849
Hi @seanhly, can you please make a separate issue for each rule that you would like?

[2018-04-25 00:50] aervin commented on #3851
Currently it looks like the ban rule checks call expressions only, so I don't think it can catch these examples.

[2018-04-25 06:00] henrikra commented on #2302
@ikokostya How can I override couple rules in my `tests` folder with `extends` property? I used ESLint cascading config file when I was doing JS but I can't do that with TS :/

[2018-04-25 13:40] ericferreiralife commented on #3814
This seems like a duplicate of #539

[2018-04-25 14:39] aj-r opened #3854 "no-unused-variable finds false positives in imports"
### Bug Report

- __TSLint version__: 5.9.1
- __TypeScript version__: 2.8.3
- __Running TSLint via__: CLI

#### TypeScript code being linted

`animal.ts`:
[code]

`otherFile.ts`:

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior

[code]

Note that importing `Cat` and `Dog` is required. If I omit them from the imports, I get a typescript error:

[code]

This particular case m

[2018-04-25 17:50] unindented commented on #3279
@ajafff @adidahiya any further thoughts here? I'm in the exact same situation as @rhys-vdw.

[2018-04-25 18:36] ajafff commented on #3279
Shamelessly advertising my own project:
Since my last activity in this issue I created my own linter, the [Fimbullinter project](https://github.com/fimbullinter/wotan). Read the docs for a quick start: https://github.com/fimbullinter/wotan/blob/master/packages/wotan/README.md

It contains a rule `no-useless-predicate`, which might be what you are looking for. It's a combination of TSLint's `strict

[2018-04-25 19:44] johnwiseheart commented on #3814
Agreed this is a duplicate of #539.

[2018-04-25 19:44] #3814 closed

[2018-04-25 19:51] johnwiseheart commented on #3851
Yeah, that makes sense. Happy to accept PRs for this.

[2018-04-26 03:30] suchanlee commented on #2302
this is supported now right? https://palantir.github.io/tslint/usage/configuration/

[2018-04-26 13:07] vladnicula commented on #3483
I would also benefit from this.

[2018-04-26 14:00] chrismbarr opened #3855 "prefer-conditional-expression should also check repeated += and -= assignments"
### Bug Report

- __TSLint version__: `5.9.1`
- __TypeScript version__: `2.8.3`
- __Running TSLint via__: gulp-tslint `8.1.3`

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior

No lint violations found

#### Expected behavior
To report a violation for the repeated `+=` assignment within the `if/else` branches and ask to change to code to th

[2018-04-26 15:31] tkrotoff opened #3856 "Enable deprecation rule in one of the built-in configurations"
Using TSLint 5.9.1, `deprecation` rule should be enabled with preset "tslint:recommended" (`"deprecation": true`) because that makes a lot of sense

[2018-04-26 15:39] JoshuaKGoldberg opened #3857 "npm scripts include *nix-only comments"
[code]

Breaks on my Windows machines. ☹

[2018-04-26 18:28] suchanlee commented on #3857
since the PR is merged, this issue should be fixed now @JoshuaKGoldberg

[2018-04-26 18:28] #3857 closed

[2018-04-26 18:37] #3833 closed

[2018-04-27 12:24] gaoqiankun opened #3859 "Can not lint illegal module name"
### Bug Report

- __TSLint version__: 5.9.1
- __TypeScript version__: 2.8.3
- __Running TSLint via__:  CLI  `node_modules/.bin/tslint src/App.tsx -p .`

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior
print nothing

#### Expected behavior
throw error

[2018-04-27 12:36] #3859 closed

[2018-04-27 12:38] gaoqiankun commented on #3859
### After I adjust `tslint.json#extends` items' order， it works normally.
[code]

[2018-04-27 15:30] josecolella commented on #3364
Also having this issue, resulting in sonar flagging this incorrectly as a code smell.

[2018-04-27 22:54] Dignissi opened #3860 "Trailing comma rule can crash TSLint"
### Bug Report

- __TSLint version__: 5.9.1
- __TypeScript version__: 2.8.3
- __Running TSLint via__: CLI

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior

This TS code crashes tslint.

#### Expected behavior

tslint should not crash

[2018-04-28 13:45] Zzzen commented on #922
IMO, there should be no difference between official `lib.dom.d.ts`, 3rd party library declaration and custom declaration.

A more concret example would be helpful. Maybe This issue is related. https://github.com/Microsoft/TypeScript/issues/2715

We are banning globals, no matter where they are declared.

[2018-04-28 21:17] orta opened #3861 "Use colons for error reporting for lines/char instead on brackets"
### Bug Report

- __TSLint version__: 5.9.1
- __TypeScript version__: 2.8.x
- __Running TSLint via__: CLI / VSCode

Links to the error can't be clicked in the terminal due to un-standard URLs

<img width="651" alt="screen shot 2018-04-28 at 5 13 19 pm" src="https://user-images.githubusercontent.com/49038/39400921-a3d76416-4b07-11e8-991d-f211d4c3ccb2.png">

I'd love to move them to use the format `

[2018-04-29 05:02] EFanZh opened #3862 "Incorrect rule schema"
I noticed that many rule states their schema are of type “array” and have property of “minLength” and “maxLength” (such as [this one](https://palantir.github.io/tslint/rules/member-access/)). It seems that they should be using “minItems” and “maxItems” instead of “minLength” and “maxLength”. According to [this](http://json-schema.org/latest/json-schema-validation.html), “minLength” and “maxLength”

[2018-04-29 17:32] blair opened #3863 "Enabling `no-unused-variable` can trigger `no-unsafe-any` warnings"
### Bug Report

- __TSLint version__: 5.9.1, although it also fails using a newer build master built from https://github.com/palantir/tslint/commit/8e13390e0a255d27695154af65e62002050e7adb
- __TypeScript version__: 2.8.3
- __Running TSLint via__: CLI

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior
It generated these warnings:

[code]

###

[2018-04-30 02:24] sangaman opened #3864 ""The 'no-boolean-literal-compare' rule requires type information.""
### Bug Report

- __TSLint version__: 5.9.1
- __TypeScript version__: 2.8.3
- __Running TSLint via__: CLI

#### TypeScript code being linted

N/A. This is a general warning I see when linting an entire project.

with `tslint.json` configuration:

[code]

#### Actual behavior

Running tslint from the command line generates the following warning:

`Warning: The 'no-boolean-literal-compare' rule requ

[2018-04-30 08:52] benjaminbillet commented on #3483
I had to disable the no-implicit-dependencies rule because I use absolute imports in my projects. This feature could be very useful.

[2018-04-30 20:26] treythomas123 opened #3865 "Enable --project (tsconfig.json) to be set in tslint.json"
Currently the path to `tsconfig.json` can only be set via the `-p`/`--project` CLI arg, so I have to run tslint like this (usually via a script):
[code]

It'd be nice to be able to set this via `tslint.json`, so it doesn't always need to be set via CLI:
[code]

This would also be useful for editor plugins, since it removes the need for the plugin to provide the project-specific path to `tsconfig.j

[2018-05-01 08:49] renataogarcia commented on #3827
You could give it a go on a more recent version - I think this is available since [5.2.0](https://github.com/palantir/tslint/releases/tag/5.2.0)

[2018-05-01 15:27] thorn0 commented on #3849
There already exists https://github.com/palantir/tslint/issues/3549 about `max-function-line-count` / `max-func-body-length`.

[2018-05-02 08:35] gakada opened #3866 "Config files without extension are loaded as JS?"
Is it intended?
[code]
will expect `.tslint` to be a JS file, not JSON, since `require` is [used](https://github.com/palantir/tslint/blob/d9e20beeb6c76e6321ebafd08df8f6fae9b0eb29/src/configuration.ts#L254).

If yes, maybe it should be documented somewhere (unless I'm missing it). If not, maybe `readFile`/`parse` should be used instead.

[2018-05-03 06:08] suchanlee commented on #3854
See related discussion: https://github.com/palantir/tslint/pull/3853#issuecomment-384540618

[2018-05-03 06:09] suchanlee commented on #3854
It's unlikely that we'll actively support this rule in the future and will encourage using the typescript flag

[2018-05-03 10:29] Levino commented on #1810
What is the status here?

[2018-05-03 11:46] phyllisstein commented on #3797
This seems like a solid investigation of a pretty annoying glitch. Any insight from the maintainers on how it could be resolved?

[2018-05-03 17:32] jmlopez-rod opened #3870 "trailing-comma: esSpecCompliant not applied to function call"
### Bug Report

- __TSLint version__: 5.9.1
- __TypeScript version__: 2.7.2
- __Running TSLint via__: CLI

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior

[code]

#### Expected behavior

Should only report the missing trailing comma on line 15. The `esSpecCompliant` seems to do its job when we define a function but not when we use it.

[2018-05-03 19:28] maxi7587 commented on #3755
Have the same issue, how do you use expect() actually with tslint 5.9.1 in jasmine?

[2018-05-04 07:52] sanex3339 opened #3873 "New rule: grouping imports by type of imported entity"
In our projects we trying to keep imports clean as possible and we grouping imports by type of imported entity:

* imports from node modules (all things)
* imports from types
* imports from interfaces
* imports from enums
* other imports (classes, functions, constants)

[code]

It will nice to have rule that will check that grouping by type of imported entity.
If few things are imported from the m

[2018-05-04 08:37] christophercr opened #3874 "Cannot extend configuration files recursively ("extends" with presets)"
### Bug Report

- __TSLint version__: 5.9.1
- __TypeScript version__: 2.6.2
- __Running TSLint via__: (pick one) CLI

#### TypeScript code being linted

Configuration hierarchy using presets ([tslint-sonarts](https://github.com/SonarSource/SonarTS), [tslint-config-prettier](https://github.com/alexjoverm/tslint-config-prettier), [codelyzer](https://github.com/mgechev/codelyzer)) in the base configu

[2018-05-04 10:16] metrip commented on #2793
There is no proper solution. Prettier will also disagree on formatting, which is a hassle. As a workaround, you can use a pattern like
[code]
Ugly, but still slightly better than disabling and re-enabling align and whitespace rules whenever this comes up?

[2018-05-04 10:55] adrienboulle commented on #3761
I also have this problem, syntax is fine, I think this is a false positive

[2018-05-04 14:44] janez-svetin opened #3877 "Looking for rule "No empty line allowed at the beginning of file""
Is it possible to achieve this without custom rule?

If not, any help / your own implementation of custom rule would be highly appreciated.

[2018-05-04 20:21] hughanderson4 opened #3878 "tslint cmd line return code can't be chained with ampersand"
Environment: Windows 10 Developer Command Prompt.

### Bug Report

- __TSLint version__: 5.9.1
- __TypeScript version__: 2.6.2
- __Running TSLint via__: (pick one) CLI

#### TypeScript code being linted

[code]

with `tslint.json` configuration:
[code]

#### Actual behavior

I am trying to chain some command line commands together, and proceed to the next only if the tslint step succeeds.  I'm try

[2018-05-05 09:55] zetamorph opened #3880 "Catastrophic Regex backtracking with default config for "completed-docs"-rule"
### Bug Report

- __TSLint version__: 5.10.0
- __TypeScript version__: 2.8.3
- __Running TSLint via__: CLI

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

or:

[code]

#### Actual behavior

Nothing happens for a long time(it would probably finish after a few hours, but I didn´t try), CPU load at 100%.

#### Expected behavior

TSLint completes linting and outp

[2018-05-05 13:05] rafaelss95 commented on #3847
@felipeissa Since your PR is already merged, you can close this.

[2018-05-05 18:22] saadq opened #3881 "TSLint `exclude` does not work when used with the Node API"
### How to reproduce
I have created a minimal repo that demonstrates the problem [here](https://github.com/saadq/misc/tree/master/tslint-ignore).
The `readme.md` gives the exact steps on how to reproduce the issue.
TLDR: `npm run cli` uses the `exclude` option while `npm run api` does not.

### Bug Report

- __TSLint version__: 5.10.0
- __TypeScript version__: 2.8.3
- __Running TSLint via__: Node.

[2018-05-05 19:37] shivawu commented on #3873
Up this. For a reference, in the python world, isort supports sectioning the imports, based on their properties: https://github.com/timothycrosley/isort#custom-sections-and-ordering

It would make the code very clean to read.

[2018-05-05 21:35] #3847 closed

[2018-05-06 04:14] joelday commented on #255
@ashwinr What would be the right name for the rule?

[2018-05-06 15:26] roman-petrov opened #3882 "New rule: disallow comparison with 'undefined' (and 'null') on non-nullable types"
When using TypeScript compiler with **strict-null-checks** mode it is not needed to check if variable is 'undefined' on variables without 'undefined' in its type, for example:

[code]
There are still cases where assumptions above will fail, for example, if '**a**' variable value is comping from JavaScript or non-strongly typed code. But on TypeScript only projects with **strict-null-check** enable

[2018-05-06 16:58] aervin commented on #3882
@roman-petrov would `strict-type-predicate` be useful here?

[2018-05-06 18:01] ball6847 commented on #3777
I would love to see this rule too.

Also, it should be configurable to apply the rule to which members type, eg. method, property.

[2018-05-06 18:07] roman-petrov commented on #3882
@aervin, thank you. It seems that's exactly i'm looking for! I'll close this issue

[2018-05-06 18:07] #3882 closed

[2018-05-06 23:39] karol-majewski opened #3883 "no-unused-variable doesn't work in declaration files"
### Bug Report

- __TSLint version__: 5.10.0
- __TypeScript version__: 2.8.3
- __Running TSLint via__: CLI

#### TypeScript code being linted

##### `a.ts`

[code]

##### `b.d.ts`

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior

No error.

#### Expected behavior

Error: `'surname' is declared but its value is never read.`

[2018-05-07 08:53] karol-majewski opened #3884 "no-unbound-method rule doesn't work with destructuring"
### Bug Report

- __TSLint version__: 5.10.0
- __TypeScript version__: 2.8.3
- __Running TSLint via__: CLI

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior

No error.

#### Expected behavior

Error: `Avoid referencing unbound methods which may cause unintentional scoping of 'this'.`

`const { stringify } = JSON;` is equivalent to `const st

[2018-05-07 12:50] AnteaterKit opened #3885 "rule ban: Hot to set an option for an array?"
### Question

- __TSLint version__: 5.10.0
- __TypeScript version__: 2.7.2
- __Running TSLint via__: (pick one) VSCode

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior
getDefaultState: Calls to '*.find' are not allowed. Use a regular for  instead.
get:  Calls to '*.find' are not allowed. Use a regular for  instead.
#### Expected behavior
g

[2018-05-07 14:55] #3601 closed

[2018-05-07 14:56] #3611 closed

[2018-05-07 14:57] #3403 closed

[2018-05-07 14:57] #3620 closed

[2018-05-07 17:26] giladgray commented on #3873
i believe this is precisely the feature addressed in PR #3733, which will ship soon!

[2018-05-07 17:29] giladgray commented on #3878
@hughanderson4 i think you're using ampersands incorrectly in bash: http://bashitout.com/2013/05/18/Ampersands-on-the-command-line.html.

pretty sure you want `tslint && echo success` (double-&)

[2018-05-07 17:31] giladgray commented on #3880
to be fair, this closing `**/` is non-standard syntax: JSDoc comments explicitly begin with `/**` and close with `*/`. that said, we should still fix the regex. shouldn't be _too_ hard (he said carefully, knowing full well just how hard regexes can be 👣 🔫 ).

[2018-05-07 17:35] giladgray commented on #3881
this kinda seems expected given that it's in the `linterOptions` block, which you define at the top of your script `const options` long before the config file has actually been loaded. this is likely an edge case in the design of the Node API where that field isn't properly supported due to the lifecycle of the components in Node.

try setting `exclude` in your options object above. you could actu

[2018-05-07 17:37] giladgray commented on #3883
@karol-majewski what happens in the original `b.ts` source file? does it use `surname` in a way that is not preserved in the output? if not, then this behavior is expected.

[2018-05-07 17:37] giladgray commented on #3883
basically, this behavior looks correct. TSLint treats .d.ts files as source code unless you exclude/ignore them. so the lint rule is catching a valid error.

[2018-05-07 17:40] giladgray commented on #3885
@AnteaterKit just pass an `[array]`: https://github.com/palantir/blueprint/blob/develop/packages/tslint-config/index.js#L18-L29

[code]

[2018-05-07 17:41] giladgray commented on #3885
the docs are full of usage examples, especially for [this `ban` rule](https://palantir.github.io/tslint/rules/ban/)

[2018-05-07 17:53] avernikoz opened #3887 "TS9999 "}" or "{" expected"
### Bug Report

- __TSLint version__: "^5.9.1"
- __TypeScript version__: "^2.8.0-dev.20180302"
- __Running TSLint via__:  "Webstorm"
#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior
Hi, I am new to React-tslint, but I have a problem with tslint, that I can't resolve.
Tslint throws an error:
`TS9999:} expected`
or, in some places
`TS9999:{ e

[2018-05-07 17:55] giladgray commented on #3887
@avernikoz `TS####` errors come from the TypeScript compiler itself. this is not a TSLint issue.

[2018-05-07 17:55] #3887 closed

[2018-05-07 19:11] sanex3339 commented on #3873
@giladgray no. Improt types in this PR is package, same folder or otjer folders.

[2018-05-08 02:35] saadq commented on #3881
I tried putting the `exclude` field in the `options` object, but it doesn't seem to work. Additionally, the declaration file for the `options` object you pass to the `Linter` constructor seems to look like this:

[code]

There doesn't seem to be any `exclude` field there :/

[2018-05-08 03:51] karol-majewski commented on #3883
@giladgray It does not use it in any way.

This becomes problematic when you import and export from & to `.d.ts` files (your application domain model for example) and you end up with dead code pilling up, with no way to manage it.

[2018-05-08 09:44] jwelmac commented on #3689
Hey @BinaryBlock,
Check if you have `@angular/cli` installed directly in your `package.json`.
If so remove it and retry.
There seems to be a conflict with the typescript version installed via `@ionic/app-scripts` and `@angular/cli` that results in an error in the `ngc` command during a production build.

[2018-05-08 19:00] darthtrevino opened #3889 "Deeper access to Type System"
### Feature Request

I'm spending a little bit of time on a library that encodes some performance best-practices for React. I'd like to be able to inspect Props interfaces to make assertions on them, but I'm running into issues trying to get referenced types from the AST.

The TSLint walker passes down a context object, which contains a source file and an AST. If the context also contained access

[2018-05-08 19:19] Shinigami92 opened #3890 "Rule request: strict-number-check"
#### TypeScript code being linted

[code]

(Lint only if there is no other expression in the if)

#### Expected behavior

If `value` can also be `number`, then **warn** and suggest:
[code]

[2018-05-08 19:39] #3889 closed

[2018-05-08 19:39] darthtrevino commented on #3889
Ahh, I just found the 'applyWithProgram' part of the API

[2018-05-09 01:18] chaucerbao opened #3892 "Add `esSpecCompliant` to the trailing-comma rule in tslint:recommended"
There was [some discussion](https://github.com/palantir/tslint/pull/3176#issuecomment-328969907) to add `esSpecCompliant` on the [trailing-comma rule](https://palantir.github.io/tslint/rules/trailing-comma/) to *tslint:recommended*.

That was about 8 months ago, so I'm not sure there was a reason against it, or if it just fell by the wayside. But I suggest that being compliant should be the defaul

[2018-05-09 12:41] lavie opened #3893 "ban rule not working"
### Bug Report

- __TSLint version__: 5.9.1
- __TypeScript version__: 2.7.2
- __Running TSLint via__: (pick one) CLI

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior

No lint errors.

#### Expected behavior

The call to `uuid.v1` should have been banned.

My apologies if I'm simply misusing the rule somehow. I tried it in various configura

[2018-05-09 15:34] janez-svetin commented on #3253
@aervin can you share your current local change for this you've mentioned? I would like to use it as a custom rule in our project until this gets added. Many thanks!

[2018-05-09 15:43] aervin commented on #3253
@janez-svetin just [checked it into my fork](https://github.com/aervin/tslint/blob/newline-per-chained-call/src/rules/newlinePerChainedCallRule.ts)

[2018-05-09 16:11] jaufgang commented on #3253
`max-calls-per-line` provides a useful way of allowing short readable method chains to appear on one line, but there is more to the question of what might constitute a "short, readable" method chain than merely how many methods there are in a chain.

for example, you might want to allow
[code]
but not
[code]

Even though the first sample has 3 calls in the chain but the second one only has 2.  Cou

[2018-05-09 19:55] bschlosser opened #3894 "member-ordering rule missing metadata for values without an access modifier"
### Bug Report

- __TSLint version__: 5.10.0
- __TypeScript version__: 2.7.2
- __Running TSLint via__: IDEA - WebStorm/IntelliJ

#### TypeScript code being linted
Not applicable

#### Actual behavior
The IRuleMetadata `options.properties.order` `type: "array"` enum list is missing the values without an access modifier. Since these are not present IntelliJ highlights the values of `constructor`, `i

[2018-05-09 20:41] david-cannady opened #3895 "radix rule does not enforce requirement for Number.parseInt() calls."
### Bug Report

- __TSLint version__: 5.9.1
- __TypeScript version__: 2.8.3
- __Running TSLint via__: webpack v4.4.1

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior
No tslint rule "radix" violations
#### Expected behavior
tslint should recognize radix parameter is missing for both parseInt() and Number.parseInt()

[2018-05-10 07:40] AnteaterKit commented on #3885
@giladgray  thank you!

[2018-05-10 07:40] #3885 closed

[2018-05-10 13:40] jscharett commented on #2736
Any plans on fixing this?

[2018-05-10 13:41] jscharett commented on #2649
Any plans on fixing this?

[2018-05-10 13:42] jscharett commented on #2814
Any hope of a fix here?

[2018-05-10 17:47] giladgray commented on #3892
@chaucerbao go for it! would happily review a PR.

[2018-05-10 17:47] giladgray commented on #3894
@bschlosser would you be able to submit a fix for this? seems you already know what to do.

[2018-05-10 17:49] giladgray commented on #3873
@sanex3339 yes, that's precisely what the PR I linked is about. i even left a comment there that the word "types" was confusing.

[2018-05-10 17:49] giladgray commented on #3873
(sorry, let the PR close it)

[2018-05-10 19:08] chaucerbao commented on #3892
@giladgray One-liner PR #3899

[2018-05-10 19:34] stifflerus commented on #2814
This bug is still not fixed in v5.10.0

[2018-05-10 19:45] david-cannady commented on #3895
Sure. I have a branch with the changeset, but not sure of the process for pushing changes. Have a permission denied message when pushing my branch. Do I need to be added as a contributor?

[2018-05-10 19:50] aervin commented on #3895
@david-cannady If you haven't already, fork this repo and push your changes to a branch on your fork. Then you can open a PR: your fork branch against TSLint's master.

[2018-05-10 19:53] david-cannady commented on #3895
Cool, thanks.

[2018-05-10 21:21] madprog opened #3902 "False positive for restrict-plus-operands rule - Readonly and generic type"
### Bug Report

- __TSLint version__: 5.9.0, 5.1.0, 13723b506b8d0531312b07188fa75cb296a055d9
- __TypeScript version__: 2.8.3
- __Running TSLint via__: CLI

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior
`Operands of '+' operation must either be both strings or both numbers`

#### Expected behavior
Should not report an error since `struct.

[2018-05-11 08:47] janez-svetin opened #3904 "Apply ts lint rules to HTML files?"
I have a custom rule which disallows files starting with the empty line:

[code]

Which works, but only for `.ts` files. How could I convince the linter to run this against HTML files?
(So `src/app/components/foo/bar.component.html` will be linted.)

Can someone explain to me what the `typescriptOnly` property is for? Looking at the source it allows linting of javascript files additionally to type

[2018-05-11 12:55] aervin commented on #3904
@janez-svetin I don't think you need a linter to accomplish your goal, as there's really no need for an AST. You can just write a Node script to read source files and check that the opening character is not a newline.

[2018-05-11 13:32] janez-svetin commented on #3904
@aervin hm, your response got me thinking, maybe I should leave the formatting of the code to the libs as the [Prettier](https://prettier.io/docs/en/index.html) is.

[2018-05-11 13:48] hughanderson4 commented on #3878
i have tried with single and double ampersand, and i get the same result either way.
i am not using bash.  i am on Windows.

[2018-05-11 18:37] artola opened #3905 "max-line-length with template literals"
### Bug Report

- __TSLint version__: 5.9.1
- __TypeScript version__: 2.8.3
- __Running TSLint via__: (pick one) CLI / VS Code

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior

[code]
#### Expected behavior

This rule should skip verification for "some" strings, including multiline template literal.

[2018-05-11 19:18] jhaenchen commented on #2814
Why is this still not fixed? Either remove the rule from the docs ("space number is an optional parameter that does nothing") or actually build it.

[2018-05-11 19:42] aervin commented on #2814
I gotta say, I don't imagine TSLint will ever be able to format JS code as well as Prettier. This is a complicated problem, and Prettier has solved it better than anyone else. I don't think we should be relying on TSLint for this, especially since projects often use both tools in tandem, and conflicts will likely arise...

[2018-05-11 20:29] bschlosser commented on #3894
Sure, give me a couple of days.

[2018-05-11 20:46] jscharett commented on #2814
@aervin I tend to disagree here.  The 2 projects, in my opinion, have different purposes.  Prettier falls into the category of formatting while TSLint is more in line with validating.  Yes, TSLint can do formatting for some rules, but its intended purposes as a linter, goes back to validating.

The problem with relying on Prettier is that it is opinionated.  That's great is you agree with its styl

[2018-05-11 21:10] aervin commented on #2814
@jscharett Thanks for your congenial response. I think we agree in some respects. However, I'm confused about the "format"/"validation" distinction. Prettier doesn't validate code, it formats it. Any indentation-related problem, to me, falls outside the realm of "validation". "Indentation" is in the "formatting" realm. I like that Prettier is strictly in charge of formatting my code. I use TSLint

[2018-05-11 21:35] pelotom commented on #2814
My experience was that I thought I cared about having fine-grained control over formatting rules right up until I added Prettier... and soon after I realized I didn't care so much about the particular way things were formatted, as the fact that they were formatted consistently. It's a huge cognitive load off not to worry about that any more, and concentrate entirely on what I want the code to _do_

[2018-05-12 04:26] cartant opened #3906 "no-use-before-declare false positive with destructured parameters"
### Bug Report

- __TSLint version__: 5.10.0
- __TypeScript version__: 2.8.3
- __Running TSLint via__: (pick one) CLI

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior

Effects a `variable 'name' used before declaration` error.

#### Expected behavior

No error.

[2018-05-12 04:36] stifflerus commented on #2814
tslint already validates other things that would fall under the category of formatting. For example, enforcing alignment, bracket style, or spaces between variable names and operators. Additionally, it is desirable to be able to validate indentation without having to rely on an opinionated solution like prettier.

[2018-05-12 14:38] drevie opened #3907 "Variable Shadowing in Constructors"
### Bug Report

- __TSLint version__: 5.10.0
- __TypeScript version__: 2.7.2
- __Running TSLint via__:  VSCode

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior
Shadowing is not allowed in constructors
#### Expected behavior
I believe that shadowing should be allowed in constructors

Can there be a setting that allows shadowing in construct

[2018-05-14 09:23] janez-svetin opened #3909 "Rule to enforce space inside array reference?"
Is there a lint rule which can report on space inside array brackets? My example:
[code]
Or is there any other rule which can enforce this? Thanks

[2018-05-14 13:51] TuFat-123 opened #3911 "The quotemark rule changing severity option does not behave as expected"
### Bug Report

- __TSLint version__: 5.9.1
- __TypeScript version__: 2.3.4
- __Running TSLint via__: node.js

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior
Marked as error

#### Expected behavior
To be marked as warning

[2018-05-14 13:55] MarcoLeko commented on #3911
what kind of noob re u?

[2018-05-14 15:26] hughanderson4 commented on #3878
you're right.  thanks for the info.

[2018-05-14 15:26] #3878 closed

[2018-05-15 04:12] sbj42 commented on #3564
I have run into this as well.  I think the workaround in the previous comment is clever, but my preference for overrides (both public and protected) is to keep them in the class.  I think the aliasing technique makes the code a little harder to read.  I use the rule to detect helper methods that should be functions, not "all methods that could be functions".

So, my preference would be to make the

[2018-05-15 12:32] janez-svetin opened #3912 "'expected variable-declaration to have a typedef' lint error on for loops"
### Bug Report

- __TSLint version__: 5.10.0
- __TypeScript version__: 2.7.2
- __Running TSLint via__: CLI

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior
[code]
#### Expected behavior
The typedef rule should ignore variables declared within for loop declarations.

Looking at the source, [typedefRule.ts](https://github.com/palantir/tslint

[2018-05-15 12:41] janez-svetin commented on #3909
For now I have written a simple custom rule which uses regex on the node text:
[code]

Any recommendations for improvements are highly appreciated.

[2018-05-15 12:41] #3909 closed

[2018-05-15 15:27] jcreamer898 commented on #746
nice. thanks

[2018-05-15 15:54] Rustygames commented on #746
@shesko as far as I can see that rule isn't working. Is it working for you? (just to check it's not just me!)

[2018-05-15 16:51] omiiii commented on #3450
@adidahiya Wow, I couldn't be worse with timing here. Sorry!
To answer your question, that's exactly what I'm proposing. Having groups is great, but being able to designate what the groups are would be even better!

[2018-05-15 20:28] JKillian commented on #3912
TypeScript actually doesn't allow a type annotation on the LHS of `for-in` or `for-of` loops, so the `typedef` rule must not check for one there. Since a regular `for` loop can contain an arbitrary initializer, it makes sense to check for a type declaration there.

I think the real issue here is that the `typedef` rule isn't great and often leads to overly-verbose code. See https://github.com/pala

[2018-05-15 20:28] #3912 closed

[2018-05-15 20:41] JKillian commented on #711
Would accept a PR to:
  * add an option to `typedef` that lets it ignore cases where `no-inferrable-types` says not to provide a type

The `typedef` rule is for people who like having explicit type definitions in their codebase. If you desire the above behavior to "just type wherever is not being initialized", you're better off disabling `typedef` and making sure you have `noImplictAny` enabled as

[2018-05-15 21:01] ghost opened #3913 "--project does not exclude file"
### Bug Report

- __TSLint version__: 5.9.1
- __TypeScript version__: 2.3.4
- __Running TSLint via__: CLI

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior
When running tslint with "--project tsconfig.json" with a tslint.json configuration that excludes the folder "myexcludedfolder", tslint still lints "myexcludedfolder".

#### Expected beh

[2018-05-15 21:50] michaeljota commented on #711
@JKillian thanks for the recommendation, I think that's actually what I wanted. There is a very good post about avoiding `any` type: [Don't use "naked any", create an "any interface" instead.](https://dev.to/tanepiper/typescript-tip-dont-use-naked-any-create-an-any-interface-instead-51mb)

About:
[code]

I don't see how this could be an undesired behavior nor a tricky case. You want to make sure t

[2018-05-15 22:22] JKillian opened #3914 "Fix breaking typescript@next tests"
### Bug Report

- __TSLint version__:
- __TypeScript version__:
- __Running TSLint via__: (pick one) CLI / Node.js API / VSCode / grunt-tslint / Atom / Visual Studio / etc

https://github.com/Microsoft/TypeScript/issues/24142 is the cause of one of the issues, we should wait for a response there, hopefully a new nightly version of TS will resolve this issue.

Another test failure was caused by [a

[2018-05-16 00:09] JKillian commented on #3914
Update: https://github.com/Microsoft/TypeScript/issues/24142 has been fixed, so after the next nightly is released we should see some of the issues resolve themselves. This just means we'll need to appropriately handle the new diagnostics noted above

[2018-05-16 08:49] NearAutomata commented on #3839
My use case is slightly different. Assume the following paths in the `tsconfig.json`:

    "paths": {
        "@app/*": ["app/*"],
        "@config/*": ["app/_config/*"],
        "@environment/*": ["environments/*"],
        "@shared/*": ["app/_shared/*"],
        "@helpers/*": ["helpers/*"]
    }

Although it won't be easy to parse the paths when linting I'd like to see the whitelist as a workaro

[2018-05-16 09:59] RomanGotsiy commented on #1063
I have the similar use case to @Chowarmaan.

I have test files `*.test.ts` in which I use dev dependencies, e.g. `enzyme`.
In `tslint.json` I have `no-implicit-dependencies` rule enabled and I want to disable this rule only for `*.test.ts`. Those test files are not all in the same folder so right now I have to put:

[code]

at the beggining on each test file which is annoying

[2018-05-16 13:32] Chowarmaan commented on #1063
This is a similar problem I run into as well as @RomanGotsiy where you can add disables at the top of the test files, but it does become cumbersome for each file.  The exclude files would be helpful as you could exclude rules for a certain pattern files (test files, *.spec.ts) and have one clean configuration file that also allows you to simply enable more rules as you need them, and allow your te

[2018-05-16 18:39] mraible commented on #3265
I tried turning off the "I" prefix by adding interface-name to the default `tslint.json` that's generated by Create React App. However, it doesn't seem to work. Maybe I'm putting it in the wrong location?

[code]

[2018-05-16 18:42] mraible commented on #3265
Nevermind, I figured it out:

[code]

[2018-05-16 22:16] WorldMaker opened #3915 "no-internal-module flagged for class keywords"
### Bug Report

- __TSLint version__: 5.9.1
- __TypeScript version__: 2.8.3
- __Running TSLint via__: `tslint-language-service` 0.9.9 via VSCode extension TSLint (vnext) 0.0.4

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior

Any usage of `class` is getting a tslint warning for `no-internal-module`.

#### Expected behavior

No tslint error

[2018-05-17 09:23] sebek64 opened #3916 "Incorrect whitespace enforced before questionmark with omitted type"
### Bug Report

- __TSLint version__: 5.10.0
- __TypeScript version__: 2.5.3
- __Running TSLint via__: CLI

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior

Reports error on member a, but no error on member b. Fixer corrects it by adding a whitespace before ?.

#### Expected behavior

This code should be valid and no error should be report

[2018-05-17 12:40] denisw opened #3917 ""recommended" preset has code style rules"
First of all, thank you for TSLint. It is an incredibly nice tool!

That being said, I think it is very unfortunate that the `tslint:recommended` set is way too opinionated by including many code style rules (including controversial things like required semicolons). I think it would be much better if the `recommended` set would be like `eslint:recommended` in that it is a conservative, coding-styl

[2018-05-17 14:45] sandrocsimas commented on #695
Any update on this?

[2018-05-17 15:38] hotforfeature opened #3918 "no-unused-variable TypeError: Cannot read property '1' of null"
### Bug Report

- __TSLint version__: 5.10.0
- __TypeScript version__: 2.8.1
- __Running TSLint via__: CLI

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior

[code]

#### Expected behavior

Rule should warn `All imports in import declaration are unused.` for line 1.

This is caused by [noUnusedVariableRule.ts#L123](https://github.com/palant

[2018-05-17 20:42] DanJ210 opened #3920 "Duplicate Object Key in VS Code Settings"
### Bug Report

- __TSLint version__: 5.10.0
- __TypeScript version__: 2.8.3
- __Running TSLint via__: (pick one)  VSCode

There's no code being linted it's all working except there's 50 problems in the problem window and they are all Duplicate Object Key errors for TSLint settings. All I did was follow docs, `npm install -g typescript tslint` and then I installed the tslint extension for VSCode.

[2018-05-17 23:04] JKillian commented on #3918
Good find @hotforfeature. I started addressing this over in https://github.com/palantir/tslint/pull/3919 because it related to some changes coming up in TS 2.9 which will only exacerbate this issue.

My PR prevent an exception from being thrown, however, it simply ignores `ignorePattern` in the cases you mentioned which isn't great. I believe we'll need to add some complex code sort of like what w

[2018-05-18 15:36] JKillian commented on #3918
I'm wondering if we should thing about deprecating this rule. tsc now provides a way to ignore its warnings, and it provides support for automatic fixes for its warnings through an IDE.

As far as I can see, the main benefit to this rule is `ignore-pattern`, but it's difficult to implement that correctly the way the rule is now written to depend off tsc diagnostics. TSLint is also a little more fl

[2018-05-18 15:49] hotforfeature commented on #3918
My primary use case for this rule is to autofix problems on commit in a git hook when linting. So I still think there's great value here even if tsc offers something via IDE integrations.

[2018-05-18 16:15] NearAutomata commented on #3279
I'd like to chime in with the following use case from my actual code:

[code]
As you can see I am using `||` to denote default values if the LHS happens to be undefined. Is there any concise way that makes `tslint` understand this does adhere to `strict-boolean-expressions`? Otherwise I am forced to use those disable/enable commands. (Surprisingly this is only an issue with type-checking enabled a

[2018-05-18 18:34] jscharett opened #3921 "no-invalid-this incorrectly flags prototype methods"
If I create a method on the prototype, this rule will flag it.  Seem like ti should ignore methods on "class-like" objects.

Example:
[code]
I use this behavior to do some aop behavior on a third-party plugin, but this rule flags it as invalid.

[2018-05-18 20:12] fedorl commented on #3916
It seems to be broken since 5.9.0, we had to rollback to 5.8.0. This issue blocks further tslint upgrades (unless one wants to reformat existing code to this weird spacing or disable the rule completely).

[2018-05-18 20:59] sssalib42 commented on #2571
If someone needs it...
I used:

if (!!couldBeUndefinedNumber) {
    const numVar: number = couldBeUndefinedNumber;
    // use numVar safely :)
}

[2018-05-19 00:45] suchanlee commented on #3918
@JKillian i think that the rule is starting to become increasingly expensive to support with TSLint's support for multiple versions of Typescript and continued changes in Typescript behavior. And since Typescript supports the feature, we should lean towards using that. But since earlier versions of TS doesn't support it, I dont think that we should delete it. However i think we should start to thi

[2018-05-22 03:58] tharakawj commented on #2583
I personally don't like this rule because sometimes it's not intuitive to write keys in alphabetical order. As an example if there is a schedule object,
`{ start: '', end: '', frequency: '' } `
order make more sense to me than
`{ end: '', frequency: '', start: '' }`.
I know it's a personal preference and that's the whole point to remove this rule from recommended preset.

[2018-05-22 08:17] sumowrestler commented on #1520
The Java JDK libraries _do not_ use Hungarian notation, see lang packages etc...
https://docs.oracle.com/javase/8/docs/api/overview-summary.html

Some good reasoning against here:
http://www.richardlord.net/blog/actionscript/the-i-in-interface.html

Not a fan of it, and having it required as a default encourages developers to stay away from interfaces all together so I would argue there's a strong

[2018-05-22 10:56] massimonewsuk opened #3922 "Unused types / imports are not being detected in *.d.ts files"
### Bug Report

- __TSLint version__: 5.10.0
- __TypeScript version__:
- __Running TSLint via__: CLI

#### TypeScript code being linted

Inside a `.d.ts` file
[code]

with `tslint.json` configuration:

[code]

#### Actual behavior
No errors. The same code inside a normal *.ts file results in an error.

#### Expected behavior
I expect it to say that the Unused type is unused.

[2018-05-22 12:33] charlesr1971 commented on #998
How can parameters be shadowed. I agree with the OP. This is nonsense. If this were true, we would have to create thousands of new variable names, unnecessarily.

[2018-05-22 15:10] aervin opened #3923 "Offer ability to add custom failure message for no-console"
I think `no-console` is among the most commonly `// tslint:disable-next-line`-ed rules I come across in projects. Often times, projects have specific logging mechanisms but devs new to the team don't know about them. It would be nice to add a custom failure message directing the devs to the logging class (or whatever) they ought to use to log things.

Possible config:
[code]

[2018-05-22 15:21] DavidSouther commented on #3418
@robpaveza If I were coming to your codebase fresh, I'd love to see that called out explicitly:

[code]

[2018-05-22 17:53] alexburner commented on #3340
+1 I'm interested in banning accessors, get/set are a little too magic for my taste

[2018-05-22 18:04] alexburner commented on #3340
@aervin could you reopen this issue?

[2018-05-23 10:09] nagapavan opened #3927 "Incorrect error TS2339: Property 'kind' does not exist on type 'Resource'"
### Bug Report

- __TSLint version__: 5.10.0
- __TypeScript version__: 2.8.3
- __Running TSLint via__: (pick one) CLI and gulp-tslint

#### TypeScript code being linted

[code]

[Related index.d.ts snippet: ](https://github.com/godaddy/kubernetes-client/blob/5.3.0/typings/index.d.ts)
[code]

with `tslint.json` configuration:

[code]

#### Actual behavior

#### Expected behavior
No error (semantic/

[2018-05-23 11:32] paranoidjk commented on #73
+1

[2018-05-23 12:53] mischah opened #3928 "No warnings (or errors) when using `"severity": "warning"` for rule: `comment-format`"
### Bug Report

- __TSLint version__: 5.10.0
- __TypeScript version__: 2.8.3
- __Running TSLint via__: CLI
  - ```shell
    tslint --project tsconfig.json -c tslint.json -t stylish "src/**/*.ts"

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

with `tsconfig.json` configuration:

[code]

#### Actual behavior

No error (and no warning) regarding the rule `comme

[2018-05-23 22:19] karol-majewski commented on #3654
What if we could tell TSLint which paths are in fact relative, even though they can look as absolute ones.

[code]

[2018-05-24 14:22] maxx07 commented on #3863
I also have problem with that issue. I recognized that if:
- the typescript definition file inside the **bignumber.js** module is renamed from `bignumber.d.ts` to `index.d.ts`
- the `types` property from `package.json` from that module is removed

the "no-unsafe-any" warning does not occur anymore.

If that is done the the default location (module root path and `index.d.ts` as name) for the typesc

[2018-05-24 16:18] aervin commented on #3918
I would second @suchanlee 's proposal. This rule comes up in issues a lot, it seems. Too many considering that recent TS versions warn about the problem adequately. Let's phase it out!

[2018-05-25 09:49] charles-salmon commented on #3306
@ajafff I don't believe this is actually an issue. In the example provided in the Bug Report, the rule configuration includes `avoid-template`, and thus the behaviour is as expected. Removal of this option also removes the error.

[2018-05-25 13:44] vasilev-alex commented on #3265
For some reason `"interface-name": [true, "never"]` doesn't work for me. But `"interface-name": false` works fine

[2018-05-26 02:27] sangaman commented on #3864
Figured this out myself. I needed to pass `--project tsconfig.json` to the `tslint` command. Warning no longer displays after taking this step.

[2018-05-26 02:27] #3864 closed

[2018-05-27 19:39] bowenni commented on #3893
Looking at https://palantir.github.io/tslint/rules/ban/, I think this configuration should trigger the expected lint error:
[code]

[2018-05-28 12:12] scott-ho commented on #2919
@adidahiya There are a lot of cases in Angular community;

For example
[code]

[2018-05-29 08:34] ddagsan commented on #3662
Isn't there any solution?

[2018-05-29 10:24] dscho opened #3929 "Cannot get `no-floating-promises` to work"
### Bug Report

- __TSLint version__: 5.10.0
- __TypeScript version__: Version 2.8.3
- __Running TSLint via__: CLI (`node_modules\.bin\tslint --project tsconfig.json *.ts *\*.ts`)

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior

TSLint does not warn about the return value of `isDirectory()` (called in the 4th-last line in the code snippet

[2018-05-29 19:09] nuthinking opened #3930 "Can't find the rules to disable given the error"
I am new to TS, but how is it possible that given the error from the compiler, is almost impossible to find the matching rule to disable? Thanks

[2018-05-29 19:16] bryanvanwijk opened #3931 "Types not taken into account when coming from "types" field in libraries' package.json"
### Bug Report

- __TSLint version__: 5.9.1
- __TypeScript version__: 2.5.3
- __Running TSLint via__: CLI (`tslint -c tslint.json -p .`)

We have an i18n project which provides common functions to other projects, but TSlint does not warn about unhandled promises from these functions when we use them in other projects. The types are exposed using `"types": "build/src/index.d.ts"` in the package.jso

[2018-05-31 18:18] JKillian commented on #3918
@hotforfeature - acknowledge your usecase and find it reasonable. However, due to the complexity of the rule, I think we're going to deprecate it (see #3919).

As always though, anyone is welcome to copy the source code of the rule and move it to an external package and keep using/improving it that way!

[2018-05-31 20:34] killtheliterate commented on #3918
For what it's worth:

[code]
Using the above in `tsconfig` allows for the `no-unused-variable` lint rule to be disabled.

[2018-06-01 14:21] scameron commented on #1335
If you are adding elements to the end of the array being iterated inside the loop, don’t you need to use a standard for?

[2018-06-01 15:02] artola commented on #3564
`allow-override` is a great idea

[2018-06-01 15:46] zenorbi opened #3933 "no-return-await actually has semantic differences"
The rule "no-return-await" says that awaiting before returning in an async function has no semantic change as to simply returning. This does not hold true if you return in a `finally` block.

[code]

Seems like the `finally` only applies to the `longRunningProcess()` function call and not the promise value that the coroutine would resolve.

[2018-06-01 17:07] giladgray commented on #3930
@nuthinking yes as described above there are two tools at work here:

- `tsc` the TypeScript compiler, whose errors are game-breaking and must be addressed before proceeding (never produces warnings, only errors)
- `tslint` the linter, whose errors/warnings are typically style- or convention-related.

[2018-06-01 17:07] #3930 closed

[2018-06-01 17:09] zenorbi commented on #3933
This behavior is also true in case of a simple `catch`. If the promise that is being returned rejects, the catch block won't run.

[code]

[2018-06-01 17:09] giladgray commented on #3928
@mischah i think you also need to specify some format options? my hunch is that by default the rule has no config so it essentially behaves like it's off. try adding `options: ["check-lowercase"]` to the config.

[2018-06-01 17:10] giladgray commented on #3927
@nagapavan this is a typescript compiler error (TS####), not a tslint error. are you sure it's related to this project?

[2018-06-01 17:11] giladgray commented on #3923
why not `ban`?

[2018-06-01 17:14] ajafff commented on #3933
@zenorbi is this a bug report or are you just missing these details in the rule's documentation?
AFAICT the rule should leave the cases mentioned above alone, because of these semantic differences.

[2018-06-01 17:14] giladgray commented on #3921
try adding a `this` arg to the function:

[code]

https://www.typescriptlang.org/docs/handbook/functions.html#this-parameters

[2018-06-01 17:16] giladgray commented on #3920
@DanJ210 can you share a screenshot of VSCode with the errors? i've never seen this before. i also refuse to install these tools globally, instead using the workspace versions.

[2018-06-01 17:19] aervin commented on #3923
Closing because ban is an adequate alternative.

[2018-06-01 17:19] #3923 closed

[2018-06-01 17:20] zenorbi commented on #3933
@ajafff Just checked and the rule works correctly, so this isn't really a bug report, but a documentation update request. The only thing this begs for now, is an option to report cases where we should use return await. Should I open a new ticket for that?

[2018-06-01 17:42] ajafff commented on #3933
Such a rule already exists, but not as part of TSLint.
I started developing my own linter quite some time ago. It's called [Fimbullinter](https://github.com/fimbullinter/wotan). It has a [core rule](https://github.com/fimbullinter/wotan/tree/master/packages/mimir#rules) `try-catch-return-await` that checks exactly what you are requesting.

---

The only downside is that you need to use two linting

[2018-06-01 20:31] heatherbooker opened #3934 "Deprecated typecheck flag is still needed"
### Bug Report

- __TSLint version__: 5.10.0
- __TypeScript version__: 2.9.0
- __Running TSLint via__:  CLI

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

with `tsconfig.json` config:

[code]

running command:
[code]

#### Actual behavior
Due to the `noUnusedLocals` flag, I would expect it to choke on the unused import of `Beans`.

#### Expected behavior
No

[2018-06-01 20:34] JKillian commented on #3929
Looks like TSLint is examining expressions inside of conditionals; seems like a bug that should get fixed!

[2018-06-01 20:41] JKillian commented on #3931
Hmm, sounds to me less an issue with the `no-floating-promises` rule and more an issue with how TSLint sets things up for type-checking. I renamed the issue to reflect this. Agree that it should work in both cases you describe above though!

[2018-06-01 21:15] vaskevich opened #3936 ""no-floating-promises" does not report failure with `.catch` / `.then(..., catch)`"
### Bug Report

- __TSLint version__: 5.9.1
- __TypeScript version__: 2.8.3
- __Running TSLint via__: (pick one) CLI

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior
No error is reported.

#### Expected behavior
Would expect to be able to catch a floating promise via this rule, even if it requires a specific configuration parameter. This i

[2018-06-01 21:16] vaskevich commented on #3936
More context: basically would expect to be able to make the change in #3048 configurable.

[2018-06-02 23:48] rafaelss95 commented on #3771
I can't reproduce this error, however I've reproduced an interesting case:

[code]

After run tslint with `fix`:

[code]

... it removed the comment, is it the expected behavior?

[2018-06-02 23:50] rafaelss95 commented on #3771
I can't reproduce this error, however I've reproduced an interesting case:

[code]

After run tslint with `fix`:

[code]

... it removed the comment, is it the expected behavior?

[2018-06-03 10:34] ethanresnick commented on #3843
@JoshuaKGoldberg Would my PR here address your use case? https://github.com/palantir/tslint/pull/3926

[2018-06-03 16:57] eranshabi opened #3937 "New Rule: no async without await"
We wrote a rule which seems useful enough to go into TSLint.
The rule disallows async functions from not having `await` inside them, as from our experience the `async` modifier is almost always useless and the function could be a synchronous one. It will also cause TypeScript to compile the function into [something much longer ](http://www.typescriptlang.org/play/#src=async%20function%20a()%20%7B%

[2018-06-03 19:29] JoshuaKGoldberg commented on #3843
Looks like it!

[2018-06-03 19:36] vmasek commented on #1883
What is the status of this issue? Are the PRs being merged? Example with `pageSizeOptions` above is still handled as error

[2018-06-04 05:38] Shinigami92 commented on #3937
I think it's ok for warning the developer, but I want to leave this here:

"An async function **can** contain an await expression that pauses the execution of the async function and waits for the passed Promise's resolution, and then resumes the async function's execution and returns the resolved value."

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/async_function

[2018-06-04 06:34] eranshabi commented on #3937
If you couldn't use async without await it was the compiler job to disallow this. In this case you will have an unhandled promise that will be resolves to `undefined` that you ignore in your code;

[2018-06-04 07:54] nagapavan commented on #3927
@giladgray apologies. Will move this issue to the TypeScript repo.

[2018-06-04 07:54] #3927 closed

[2018-06-04 07:55] tbsvttr commented on #3483
Need this feature here, too.

[2018-06-04 08:51] shockthetoast commented on #3747
I'm not using Webpack, but I am getting the same `"Array has too many items. Expected {0} or fewer." `message on my tslint.json file in vscode. I am also using the exact same rule:

For me, this issue goes away if I delete any of the three string options. (It also goes away if I delete the boolean option, but then I get the expected error `Incorrect type. Expected "boolean".`

[2018-06-04 10:56] ionutmiftode opened #3938 "Running tslint using lerna --since master doesn't work"
Hi,

I have a monorepo and I try to run tslint only in the modified packages using lerna. So I try to run `lerna run tslint since --master` which runs the packages tslint script which is something like
[code]
then in console it starts to echo
[code]
and tslint doesn't run. Any thoughts on this?

TSLint version: 5.10
TypeScript version: 2.8.3
Running TSLint via: lerna 2.11.0

[2018-06-04 15:37] heatherbooker commented on #3934
It seems to be the `--type-check` flag which is responsible, despite its claiming that
[code]

Running
[code]
gives no output and no errors.

Running
[code]
gives the above deprecation warning along with .. a lot of errors due to bad code we have now been collecting for a while! 🙈

So seems that there is perhaps a problem with the `--type-check` flag (or lack thereof)?

[2018-06-04 16:06] heatherbooker commented on #3934
Ahh I see, now that I understand the cause, I can close this as a duplicate of #3399.

[2018-06-04 16:06] #3934 closed

[2018-06-04 22:57] vylesk commented on #3652
I've just come across a developer maintained enum in a project I'm working on that has the same integer assignment for 2 enum values. I'm surprised to see after having to fix all the code styling warnings there's no check for this, which will actually cause problems in our system.

[2018-06-05 12:49] marcojahn opened #3940 "When upgrading from 5.9.1 to 5.10.0 out of memory error and other strange behaviours occur"
### Bug Report

- __TSLint version__: 5.10.0
- __TypeScript version__: 2.7.2
- __Running TSLint via__: (pick one) CLI

With tslint@5.9.1 everything was fine.

#### TypeScript code being linted
Whole application

#### Actual behavior

with tslint 5.10.0
<details>

	$ tslint --project src/tsconfig.app.json
	A LOT more errors are skipped for readability

	TypeError: Cannot read property 'kind' of und

[2018-06-05 12:58] Rustygames commented on #746
Sorry, this does work on 5.10.0, I just needed to upgrade

[2018-06-05 14:21] jaufgang opened #3941 "Feature request: summary report"
When adding new rules to an existing codebase, there can be a large number of errors in the output.    It would be handy to be able to view a summary report of violated rules and the count of violations of each rule.

Something like:

[code]
This could be enabled by a command line switch.

[2018-06-05 15:12] rbarros-daitan opened #3942 "A && B with B as promise not handled do not result in error."
### Bug Report

- __TSLint version__: 5.9.1
- __TypeScript version__: 2.7.2
- __Running TSLint via__: (pick one) CLI

#### TypeScript code being linted
It seems tslint does not see a problem because when exists a "a && b" syntax (with allow-fast-null-checks in no-unused-expression rule enabled). It looks like an independent rule. "a && b" can be allowed, but if the b expression is a promise, no pr

[2018-06-05 15:31] sergey-su commented on #3942
I believe the problem occurs when expression evaluates to union type where Promise is one option such as `undefined | Promise<void>`. `booleanExpression && promiseExpression` is one example.

Another example:
[code]

[2018-06-06 12:54] nhnb opened #3944 "Fix for no-inferrable-types removes "?""
### Bug Report

- __TSLint version__: 5.8.0
- __TypeScript version__: 2.42
- __Running TSLint via__: ng lint

#### TypeScript code being linted

[code]

with `tslint.json` configuration:
[code]

#### Actual behavior
`ng lint --fix` removes the boolean-type-declaration as expected. But it also removes the optional-indicator "?" resulting in `showNullItem = false;`

#### Expected behavior

The varia

[2018-06-06 14:19] frentsel commented on #3525
1. Remove folder node_modules
2. npm i

[2018-06-06 15:48] martinlindhe opened #3946 "Code snippet gets corrupted by tslint"
### Bug Report

- __TSLint version__: 5.10.0
- __TypeScript version__: 2.9.1
- __Running TSLint via__: VSCode

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior

Like this animation shows:

![tslint-corrupt-small](https://user-images.githubusercontent.com/181531/41049648-b29f1c0a-69b1-11e8-9c05-5c90aa672212.gif)

#### Expected behavior

Pars

[2018-06-07 10:46] DakshMiglani opened #3947 "Inserts Spaces on autofix"
### Bug Report

- __TSLint version__:5.10.0
- __TypeScript version__:2.9.1
- __Running TSLint via__: VSCode

#### TypeScript code being linted

Video: https://i.gyazo.com/442e252625e11504e983a5f3fec1a12f.mp4
[code]

with `tslint.json` configuration:

[code]

#### Actual behavior

When I save the file (I've enabled autoFixOnSave) it Inserts spaces.

#### Expected behavior

Should not insert spaces.

[2018-06-07 11:21] timocov commented on #3787
Also tslint (and seems that eslint too) allows using tabs as separator:

[code]

I guess it will be useful to enforce to use spaces (or tabs? 🙂).

[2018-06-07 13:32] superdyzio opened #3948 "member-access - no-check-interface"
### Bug Report

- __TSLint version__: 5.9.1
- __TypeScript version__: 2.7.2
- __Running TSLint via__: CLI

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior
member-access rule will always require 'public' keyword in front of lifecycle hooks methods from interfaces.

#### Expected behavior
It would be a nice feature to be able to tell tslint

[2018-06-07 22:59] sbj42 commented on #3564
@ajafff I'm interested in your opinion here.  You wrote this line in `preferFunctionOverMethodRule.ts`:
[code]
Is it necessary to wait for the override keyword - is it possible to detect a matching signature in a parent class or interface?  If so, should such methods always be exempt, or should a config option be necessary?

[2018-06-08 05:35] Ailrun opened #3949 "Exit code for rule crash"
### Feature Request

- __TSLint version__: 5.10.0
- __TypeScript version__: 2.9.1
- __Running TSLint via__: Node.js API

#### Actual behavior
When rule is crashed, it logs error but exit with 0.

#### Expected behavior
When rule is crashed, it logs error and exit with 1 (or other appropriate error code).

[2018-06-08 06:09] talmukund commented on #2721
Can I generate new PR since old one was rejected. I will implement same logic.

[2018-06-08 17:23] csvn opened #3950 "no-unbound-method: Disable for decorated methods"
## Feature request

Allow decorator to disable `no-unbound-this` rule for a specific method.

[code]

It would be great if it was possible to adjust `no-unbound-method` so that it won't error if a method is decorated with a function with a specified name. There are existing libraries (e.g. [core-decorators/autobind](https://github.com/jayphelps/core-decorators#autobind)) that has functionality lik

[2018-06-08 17:39] Shinigami92 opened #3951 "[Feature Request] comment-format - no check-space on special patterns/keywords"
### Bug Report

- __TSLint version__: 5.10.0
- __TypeScript version__: 2.9.1
- __Running TSLint via__: CLI / VSCode

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior

see _TypeScript code being linted_

#### Expected behavior

see _TypeScript code being linted_

[2018-06-08 19:10] Plondrein commented on #3755
any update on this?

[2018-06-09 06:29] sandrocsimas commented on #711
I have the following configuration:
[code]
And this code:
[code]

Why I'm not getting error in the two first declarations?

[2018-06-09 11:58] ft1996 opened #3952 "使用Object.defineProperty给对象添加属性后，tslint不识别，提示无此属性"
![jietu20180609-195737](https://user-images.githubusercontent.com/18325669/41191261-674d0814-6c1f-11e8-9eee-70d3fde54d96.jpg)

[2018-06-09 15:48] bobbylight commented on #2099
Besides `no-consecutive-blank-lines` not working in this setup (which should be work-aroundable with a custom loader), I'm just noting that, even with recent webpack and vue-loader versions, I can't get the `typeCheck: true` working for `*.vue` files because `tslint` is unhappy with the extension (even with `appendTsSuffixTo`).  [This demo project](https://github.com/bobbylight/vue-loader-15-tslin

[2018-06-09 17:59] jmbarbier commented on #3940
Same weird behaviour here, reverting to 5.9.1 is OK.

[code]

tslint.json is angular cli default tslint.json + rxjs-tslint

[2018-06-09 23:51] estaub commented on #711
@sandrocsimas Interesting, but off-topic I think; AFAICT that problem's unrelated to this issue.  I'd suggest you start another issue (fwiw!).

[2018-06-10 00:43] sandrocsimas commented on #711
@estaub , yes I will. I'm getting the same behavior even without the typedef rule.

[2018-06-10 01:11] sandrocsimas opened #3953 "Rule no-inferrable-types is not working"
### Bug Report

- __TSLint version__:
[code]
- __TypeScript version__:
[code]
- __Running TSLint via__: CLI

#### TypeScript code being linted

I have the following configuration:
[code]
And this Typescript code:
[code]

Why I'm not getting error in the first declaration?

#### Actual behavior

No errors throwed.

#### Expected behavior

Rule ````no-inferrable-types```` should throw an error.

[2018-06-10 01:48] michaeljota commented on #711
@sandrocsimas that's because it's a readonly property, and such Typescript infer its type as a literal. Typing it as a string you are telling that it should have a string, it does not necessarily will have that literal value and the value should not change statically.

[2018-06-10 06:51] johnsoft opened #3954 "restrict-plus-operands should not flag operands of type `any`"
### Bug Report

- __TSLint version__: 5.10.0
- __TypeScript version__: 2.8.3
- __Running TSLint via__: CLI

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior

[code]

#### Expected behavior

I don't expect an error here. Generally when you're using `any` it's because you want to be as permissive as possible. In my case the `any` comes from a

[2018-06-10 10:21] glen-84 commented on #3212
Since `Object.assign` modifies the first argument, wouldn't the fixer potentially break code?

[code]

If that's correct, I definitely think that the rule should only trigger when the first argument is a literal. In fact this could be considered a bug.

[2018-06-10 11:11] glen-84 commented on #1861
Should this be revisited now that https://github.com/Microsoft/TypeScript/issues/9448 was fixed, or wait for https://github.com/Microsoft/TypeScript/issues/19139?

I suppose since they require a specific version of TypeScript, the rules should remain until TSLint stops supporting older versions of TypeScript (where they would still be useful).

[2018-06-10 11:31] glen-84 commented on #2899
I don't really think this:

[code]

... is much better than this:

[code]

(probably a bad example because the `"/"` could arguably be moved up to the `let`, but you get the point)

If the rule was smart enough to determine whether the ternary would fit on one line (based on max-line-length), it might be more useful.

[2018-06-10 12:10] aervin commented on #3953
@sandrocsimas There is a bit of difference between those two member declarations. `DEVICE_UID` will have a type of `string` while `DEVICE_PLATFORM` will have the type `'browser'`.

The rule makes a special exception for the `readonly` modifier (by ignoring declarations with that modifier). But since the `static` keyword is also there, I think there should be some sort of warning about unnecessary

[2018-06-10 16:19] sandrocsimas commented on #3953
@aervin, I didn't understood why ````DEVICE_PLATFORM```` will have the type ````'browser'````? Isn't this a ````string````?
In my mind these three examples should result in a error:
[code]
In both cases you're defining the type ````string```` and setting a ````string```` value. Why they have different behavior?

[2018-06-10 17:17] sandrocsimas commented on #3953
OK @aervin, I understood that is some strange behavior in Typescript. In my case, even without the type definition, I don't get an error (the opposite of what happen in the examples provided in the issues you've mentioned). This should be due to the ````static```` definition.

[2018-06-10 17:32] pavelkucera opened #3955 "semicolon rule does not detect semicolons in nested properties in interfaces"
### Bug Report

- __TSLint version__: 5.10.0
- __TypeScript version__: 2.9.1
- __Running TSLint via__: CLI

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior
No error is reported.

#### Expected behavior
Both semicolons should be reported as unnecessary.

If you can verify that this is a bug, I will do my best to send a PR with a fix.

[2018-06-10 17:35] isiahmeadows commented on #1861
If this helps make that judgement, the version `@ts-ignore` first appeared (2.6) was released late October 2017, and the current version (2.9) was released late May. Currently, what TSLint officially supports is [2.1 or later](https://github.com/palantir/tslint/blob/master/package.json#L54), but 2.1 was released December of 2016.

[2018-06-10 19:03] aervin commented on #3953
It seems like this:
[code]
should always be preferred over this:
[code]
I agree that tslint should warn about the typedef in the `case #2` example. However, I think it's preferable that the TS compiler point out `case #2`'s problem. Because of the `string` typedef, a class member could do something silly like this:

[code]

[2018-06-10 20:34] karol-majewski commented on #1135
@leeavital As of now, you can use the `no-expression-statement` rule from [tslint-immutable](https://github.com/jonaskello/tslint-immutable#no-expression-statement) and `no-map-without-usage` from [tslint-clean-code](https://github.com/Glavin001/tslint-clean-code).

[2018-06-11 13:15] ChrisSG commented on #522
The SFC is what hits us at the moment. I think that maybe only classnames should be PascalCase and one should explicitely do it like this:

const example = ...

export {example as Example}

Any more thoughts on this?

[2018-06-11 14:59] vjsingh opened #3956 "on CLI, with GraphQL - Error: Cannot find module 'tslint'"
### Bug Report

- __TSLint version__: 5.10.0
- __TypeScript version__:  2.8.3
- __Running TSLint via__: (pick one) CLI

with `tslint.json` configuration:

[code]

#### Actual behavior

I have tslint successfully set up in my Node+React project.

When I try to run tslint from the command line, I get the following error:

{ Error: Cannot find module 'tslint'
    at Function.Module._resolveFilename (

[2018-06-11 15:14] vjsingh commented on #3956
Closing since this is likely a problem with "https://github.com/arvitaly/tslint-plugin-graphql"

[2018-06-11 15:14] #3956 closed

[2018-06-11 18:38] ofrobots opened #3957 "tslint doesn't work well with ts 2.9 resolveJsonModule"
### Bug Report

TypeScript 2.9 has [support for type checking json files as modules](https://blogs.msdn.microsoft.com/typescript/2018/05/31/announcing-typescript-2-9/#json-imports). This doesn't seem to work well with `tslint` when used with a tsconfig project option. tslint attempts to apply TS lint rules to json files since they are now a part of the 'project'.

- __TSLint version__: 5.1.0
- __T

[2018-06-11 20:24] JKillian commented on #3952
Hi @ft1996, what you're seeing there is an issue from TypeScript, not from tslint. TypeScript isn't able to tell that some object has a specific property when that property is dynamically created with `Object.defineProperty`.

[2018-06-11 20:24] #3952 closed

[2018-06-12 12:14] idstein commented on #3709
Same issue, tested with different tsc and tslint versions

typescript 2.8.3, 2.8.4
tslint 5.8.0, 5.10.0

[2018-06-12 15:08] DanJ210 commented on #3920
Yes, here's a screenshot. I mean I'm a junior dev so I'm installing globally for now as I haven't had a problem. For now I'll keep doing it until I'm more comfortable with the process entirely.

![tslint_problem](https://user-images.githubusercontent.com/16159685/41299117-be0ac246-6e30-11e8-8a6a-62f7d4347d8f.PNG)

[2018-06-12 15:58] formatlos commented on #3483
this feature would be very much appreciated

[2018-06-12 20:38] kashiif commented on #3434
+1

[2018-06-13 22:42] JoshuaKGoldberg opened #3959 "Auto-fixer for type-literal-delimiter?"
### Bug Report

- __TSLint version__: 5.10
- __TypeScript version__: 2.9.1
- __Running TSLint via__: (pick one) VSCode

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

It'd be nice to have an auto-fixer here. Seems trivial?

[2018-06-14 04:24] vovkasm commented on #3692
Another sample:
[code]

[2018-06-14 04:30] dsatfire opened #3960 "tsc & trailing-comma clash with spread operator"
### Bug Report

- __TSLint version__: 5.10.0
- __TypeScript version__: 2.8.3
- __Running TSLint via__: tslint-loader (webpack)

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior
Rule tailling-comma is violated.
[code]
However, tsc will throw if comma is there.
[code]
#### Expected behavior
tslint recognizes the spread operator in use and doe

[2018-06-14 07:37] homer-jay opened #3961 "Functions lost when serializing object, no warnings on deserialization."
### Bug Report

- __TSLint version__: 5.9.1
- __TypeScript version__: 2.9.1
- __Running TSLint via__:VSCode

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior
The code throws an error: TypeError: anotherGreeter.greet is not a function. No warnings are produced by TSLint. JSON.serialize has only conserved the properties, and has removed the f

[2018-06-14 11:08] DakshMiglani commented on #3947
@palantirtech ?

[2018-06-14 14:16] resurge opened #3962 "Tslint ignores typeRoots in tsconfig.json."
### Bug Report

- __TSLint version__: 5.10.0
- __TypeScript version__: 2.9.2
- __Running TSLint via__: CLI (via create-react-app-typescript's start script, I assume this is CLI)

#### TypeScript code being linted
I made a repo here: https://github.com/resurge/tslint-ignores-tsconfig-types

index.tsx
[code]

types/global.d.ts
[code]

tsconfig.json
[code]

with `tslint.json` configuration:
(Standard

[2018-06-14 15:49] maxi7587 commented on #3809
I have a workaround but it does't solve the issue. When using a function that returns void:
[code]
no-voidexpression ruel alerts that `someFunction(something)` returns void. Tried to type it but it keeps launching the error. The only workaround I found is to use curly brackets:
[code]
works fine, but i'd like to use it without the curly brackets.

[2018-06-14 16:09] mscottnelson commented on #3330
@JoshuaKGoldberg, did your team ever publish your custom rule?

[2018-06-14 16:59] anler commented on #2673
I'm still getting this problem in tslint version `5.10.0`, tslint complains that `'some file' is not included in project.`

[2018-06-14 17:02] maxi7587 commented on #3809
Finally have a solution!!! Add the following line in your `tslint.json` to allow arrow functions shorthand:
[code]

[2018-06-14 17:28] giladgray commented on #3937
this seems like a fair **linter** rule as `async` without `await` is technically possible but may be stylistically undesirable.

@eranshabi go ahead with a PR!

[2018-06-14 17:55] giladgray commented on #3961
if i'm not mistaken, you cannot serialize functions: what is the **string representation** of a function??

this is simply a language limitation.

[2018-06-14 17:55] #3961 closed

[2018-06-14 17:56] giladgray commented on #3961
also, `JSON.parse` returns `any`: no knowledge of the original data type (the way it should be).

[2018-06-14 18:02] giladgray commented on #3955
@pavelkucera sure, we can call this a bug. go ahead with that PR.

(i use prettier with tslint in my projects, which supersedes this rule and enforces all the semicolons.)

[2018-06-14 18:05] giladgray commented on #3953
@sandrocsimas @aervin is there an actual issue in the code here? seems like it was all a big misunderstanding.

[2018-06-14 18:06] giladgray commented on #3951
@Shinigami92 if you're particularly passionate about this feature, please submit a PR yourself. otherwise, close this issue.

[2018-06-14 18:08] giladgray commented on #3950
this seems like an edge case that actually highlights a poor coding practice: use the fat arrow syntax, which automatically binds and is gloriously supported in the language itself.

`greet = () => console.log(`Hello ${this.name}!`)`

[2018-06-14 18:08] #3950 closed

[2018-06-14 18:09] giladgray commented on #3949
@Ailrun what is a "crushed" rule?

[2018-06-14 18:10] Shinigami92 commented on #3951
Ok, but I do not know if I have the skill
could take a bit until I found myself into the code
Can you give me a hint where I could start?

[2018-06-14 18:10] sandrocsimas commented on #3953
@giladgray, I was expecting an error, but @aervin said this is the expected behavior since I'm using ````readonly````. I think the issue can be closed, but it would be nice if you analyze the behavior when ````readonly```` is used with ````static````.

[2018-06-14 18:11] giladgray commented on #3948
@superdyzio i do not see the issue here. there is a rule that enforces that all members must have access modifiers, and `public` is the default one. if you're implementing some library hook then it must necessarily be `public` for external code to invoke it.

please add more detail if there is truly a bug here, but the current behavior seems desirable to me.

[2018-06-14 18:11] #3948 closed

[2018-06-14 18:11] giladgray commented on #3953
👍

[2018-06-14 18:11] #3953 closed

[2018-06-14 18:12] giladgray commented on #3953
`readonly` and `static` mean different things and can be combined elegantly to make a singleton constant

[2018-06-14 18:13] giladgray commented on #3951
@Shinigami92 you'll want to start with the `comment-format` rule and the Develop section on the docs website.

[2018-06-14 18:14] giladgray commented on #3947
@DakshMiglani you haven't finished the statement, so the linter is just doing what it thinks is best. does it still insert spaces once you've assigned a right hand value? seems like lightweight user error to me.

[2018-06-14 18:15] giladgray commented on #3947
also fwiw, `object.push` does not exist.

[2018-06-14 18:17] giladgray commented on #3944
the fixer is correct. you've declared the type as `boolean`, but then adding the `?` injects an implicit `| undefined`, which doesn't match the declared type so the fixer removes the `?`.

if you really want it optional (undefined-able) then the type should be `showNullitem: boolean | undefined = false`

[2018-06-14 18:17] #3944 closed

[2018-06-14 18:18] giladgray commented on #3944
to be clear: explicit type declarations like `: boolean` win out over inferred types every time.

[2018-06-14 18:19] giladgray commented on #3941
@jaufgang seems like a new type of reporter, but i see little value in only reporting counts of failures and not the actual failures themselves. a JUnit test report will automatically do this for you, though.

[2018-06-14 18:21] aervin commented on #3953
@giladgray for the record, I think TS should warn about this issue, not tslint.

[2018-06-14 18:23] giladgray commented on #3920
@DanJ210 this looks like an error in `jsonc`, not in `tslint` (per the tags at the beginning of each error)

[2018-06-14 18:23] #3920 closed

[2018-06-14 18:33] DakshMiglani commented on #3947
I Know, but it shouldn't insert random spaces in there. if you save accidentally and see random spaces inserted there, how would you feel?

[2018-06-14 18:37] Ailrun commented on #3949
@giladgray Oh, it's my typo. I mean "crashed".

[2018-06-14 18:38] jaufgang commented on #3941
Sorry, perhaps I didn't explain the motivation properly.  The value would be in allowing a developer to get a sense of how much work would be involved in order to bring an existing codebase into compliance when considering adding a new set of rules, and to triage which rules to tackle first (in particular for rules that don't have automatic fixers(.

"Oh, I can fix this group of rules quickly, the

[2018-06-14 19:27] giladgray commented on #3941
to me, this is not worth the cost of implementation. i can get that data from simply scanning the current output of the linter: "oh, looks like the `semicolon` rule is failing all over the place."

[2018-06-14 19:28] giladgray commented on #3959
@JoshuaKGoldberg go for it!

[2018-06-14 19:29] giladgray commented on #3953
agreed

[2018-06-14 19:41] jaufgang commented on #3941
Yeah, that's what I've been doing. In a situation with a very large number of errors that output can be somewhat disorienting, and it can be hard to find the rules that are only violated in a few places, without tediously turning rules on and off and re-running TSLint over and over again, and I just thought a summary like I suggested would be really nice to have.

Anyhow, it's just an idea that I

[2018-06-14 20:31] ethanresnick opened #3963 "import-blacklist: resolve paths"
### Bug Report

- __TSLint version__: 5.10.0
- __TypeScript version__: 2.9.1
- __Running TSLint via__: (pick one) CLI

#### TypeScript code being linted

Right now, the import-blacklist rule doesn't normalize any paths in the module specifier string, presumably because it's designed only with blocking imports from npm modules in mind (e.g., `"lodash"`), rather than blocking imports from other file

[2018-06-14 23:29] csvn commented on #3950
Makes sense, that's a decent workaround. I can buy not having this feature in tslint core (might be better as a custom rule if required).

I don't agree fully about poor coding practice though. As always, Javascript style is highly subjective.

- A decorator can bind lazily, all property arrow functions are instantiated eagerly (i.e. in the constructor)
- The methods actually look like methods ins

[2018-06-15 05:28] ggarek commented on #3787
imo, it is better be an option, rather than a restriction. Because using `tabs` is completely valid and common, as well as using `spaces`.

[2018-06-15 06:08] aaronjameslang commented on #3265
@vasilev-alex `"interface-name": [true, "never-prefix"]` empasis on never-**prefix**

[2018-06-15 10:29] t-cst opened #3965 "member-ordering rule, alphabetize not working on getters and setters"
### Bug Report

member-ordering rule seems not to work properly on getters and setters.

- __TSLint version__: 5.10.0
- __TypeScript version__: 2.9.2
- __Node version__: v8.11.1
- __Running TSLint via__:  CLI / VSCode

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior
No error
[code]

#### Expected behavior
tslint should report errors like:

[2018-06-15 10:45] Shinigami92 commented on #3951
I think I can solve the problem in two different paths

## First
[code]
Pros:
* keywords can be explicitly configured
* can be used without "check-lowercase" or "check-uppercase"

Cons:
* new option element in the rule

## Second
[code]
Pros:
* no new option element
* merges with already existing option element
* works together with "ignore-words" or "ignore-pattern"

Cons:
* only useful if `true`

[2018-06-15 11:11] homer-jay commented on #3961
@giladgray The string representation of a function is the text of that snippet. It could be serialized and TS could provide an overriden version of JSON.parse and JSON.serialize, but that is more a language thing and is not the purpose of this issue.
As for the linter, OFC JSON.parse return any, thats why it should give a warning when assigning it to something else !== any. Unsafe cast warnings ar

[2018-06-15 18:28] manu-st commented on #2413
I have a similar issue but in a slightly different context and the latest version of tslint (v5.10.0) is reporting the error:

[code]

[2018-06-16 01:10] spalger opened #3966 "Support linting .d.ts files with `--project` flag"
### Feature Request

- __TSLint version__: ^5.10.0
- __TypeScript version__: ^2.8.3
- __Running TSLint via__: CLI

Our pre-commit hook lints all modified files with `.ts` extensions with tslint, but when we are linting all projects in our repo with call tslint multiple times with the `--project` flag. I noticed today that when I modified a `.d.ts` file it had linting errors that we not found when

[2018-06-16 09:37] NaridaL commented on #3965
I'd be willing to fix this once #3935 is merged.

[2018-06-16 09:48] NaridaL opened #3967 "Implement ruleTestRunner as mocha tests."
A couple of reasons:
- Outputting a diff on errors is non-trivial and should be handled externally, the current implementation breaks in some cases. Mocha handles this.

mocha output:
![image](https://user-images.githubusercontent.com/10828874/41497699-b5c9ed6e-715a-11e8-949f-a23229e1dea4.png)

current impl. output:
![image](https://user-images.githubusercontent.com/10828874/41497691-952a7e2a-715a

[2018-06-16 16:12] brunolm opened #3968 "Rule to disallow empty line before/after class?"
I want to know if there is a lint rule for this

not allowed
- empty line after class declaration line, before first element
- empty line before class end, after last element in class

wrong
[code]

correct
[code]

Is there a rule to do this? Or could I maybe suggest it?

[2018-06-16 18:22] brunolm commented on #3968
![image](https://user-images.githubusercontent.com/706078/41501339-f3523cae-7178-11e8-8257-1e5b2d7226c0.png)

[code]

Something like this. I don't know if that's the best implementation or if there's a better way.

[2018-06-17 01:09] #3968 closed

[2018-06-17 03:06] brunolm opened #3969 "New rule request: no-padding (no empty lines as first or last child in a block)"
# New Rule Request: no-padding

Disallow empty lines as first or last child in a block.

[code]

## Examples

[code]

[code]

[code]

[code]

[code]

## Source draft

[code]

## Preview

![no-padding-tslint](https://user-images.githubusercontent.com/706078/41504344-1d3aaa44-71c2-11e8-854b-d964f4d5cc38.gif)

[2018-06-17 14:45] aladdin-add opened #3970 "number-literal-format autofix"

[2018-06-18 04:07] NN--- opened #3971 "Require index for for arrays"
Today TSLint has the opposite rule.

[code]

Unfortunately in IE usage of 'for..of' is very slow and using regular for-index works much faster.
I would like to have a rule which prohibits for..in and for..of for arrays and requires the for-index pattern:

[code]

[2018-06-18 09:01] DreamCreater commented on #1301
I used `for (const key in Object.keys(object)) {` after getting the forin error at various places.
I again ran `ng lint` and got the same error in some places.
Please explain what I am doing wrong?
I have disabled the rule as of now.

[2018-06-18 12:55] sbusch commented on #2649
@strax works for me, many thanks!

Do you have plans for this plugin to differentiate between unused parameters and locals (noUnusedParameters / noUnusedLocals)? I only want warnings for the latter (unused imports).

[2018-06-18 15:23] ryanstaniforth opened #3972 "strict-type-predicates conflicts with type guards"
### Bug Report

- __TSLint version__: 5.10
- __TypeScript version__: 2.9.2
- __Running TSLint via__: CLI

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior
I receive the error `Expression is always false.`, from the `strict-type-predicates` rule for this line: `if (typeof (input as BaseInput).type !== 'string') {`

#### Expected behavior
Whi

[2018-06-18 16:36] giladgray commented on #3972
try typing the argument as `any`. i've found that to be a best practice for type guards: assume nothing on the input and enforce type in the return.

[code]

[2018-06-18 16:37] giladgray commented on #3972
pretty sure 🔼 should fix the issue, as the compiler is actually correct that the expression would be false the way you've written it, as `{}` doesn't have a `type` field declared, so it can't be a string type.

[2018-06-18 16:37] #3972 closed

[2018-06-18 16:40] giladgray commented on #3969
@brunolm does the `whitespace` rule capture this? if not, that's the place for these rules.

https://palantir.github.io/tslint/rules/whitespace/

also, i use prettier with tslint which definitely fixes whitespace like this.

[2018-06-18 16:42] giladgray commented on #3967
@NaridaL i'm not convinced we need to bring in mocha to solve this problem (vs simply a better diff solution). we use [babel-code-frame](https://babeljs.io/docs/en/next/babel-code-frame.html) for the diffing but maybe we can use it better?

[2018-06-18 16:58] NaridaL commented on #3967
Yeah just for the first point it's probably unnecessary. But being able to click "view diff" in WebStorm is amazing :-D

[2018-06-18 23:42] brunolm commented on #3969
hmm, `whitespace` doesn't seem to do that exactly.

But yeah, using prettier is an option, I even researched how to do it before a commit, so there's no way to forget it.

[code]

package.json
[code]

[2018-06-19 05:51] strax commented on #2649
@sbusch That might be tricky since TS emits the same error code for both unused variables and suggestions, and there's no obvious way to get the related symbol / AST node. PRs for the functionality are certainly welcome.

[2018-06-19 10:51] FDIM opened #3974 "Feature request: disallow import from parent directory"
I am not sure how others do this, but at least in our project we are using baseUrl in tsconfig and almost all of our imports are relative to the root of the repo, e.g.:
[code]

A rule to enforce this would be quite nice. How about `no-parent-dir-import`?

I am willing to investigate and make a PR if there is some interest.

[2018-06-19 12:21] Swatinem opened #3975 "Rule to validate correct @ts-ignore usage"
### Rule Request

I would like to propose a rule that does at least the following:

#### forces `@ts-ignore` to be accompanied by a comment

The reasoning here is that you should not blindly throw `@ts-ignore` comments around yourself, but explain your reasoning to do that, even better, point to an issue for further explanation

**valid**
[code]
**invalid**
[code]

#### error on `@ts-ignore` annot

[2018-06-19 20:22] suchanlee commented on #3975
I think that this is a legitimate use-case and can be a useful rule to enforce via lint

[2018-06-19 20:56] NaridaL commented on #3965
As far as I can tell, getters and setters are currently being completely ignored. I could add separate categories "publicStaticGetter", "privateInstanceSetter" etc, or just treat getters and setters as instance variables.

I think, in general, you'd want getter and setter for the same member to be together, but maybe want to enforce that getters come before setters. Unfortunately the current frame

[2018-06-19 21:28] NaridaL commented on #3965
![image](https://user-images.githubusercontent.com/10828874/41625236-670fb512-7418-11e8-8711-891692f4fa4c.png)

Not exactly intuitive, but does work in 99% of cases...

[2018-06-20 07:14] t-cst commented on #3965
Many thanks for taking the time to look at this issue.

I think it would be interesting to have separate categories, as you comment. So they can be grouped separately from instance variables.

I like to have getters and setters together, but it is a personal preference, although I would say is the most common case.

I would prefer:
[code]
over:
[code]
It would be a significant improvement over cur

[2018-06-20 07:38] Zzzen opened #3976 "Feature request: no-self-assign"
I think this one is useful when refactoring code and would like to contribute to it. What do you guys think about it?
https://eslint.org/docs/rules/no-self-assign

[2018-06-20 08:48] NaridaL commented on #3965
Sorry if I wasn't clear above^^. The two examples would both be possible if separate categories were added for the getters and setters, the result are with alphabetization enabled or disabled.

The order of overloads changes the semantics of the function, and as such should definitely not be changed by this rule.

[2018-06-20 13:20] fibo opened #3977 "object-literal-sort-keys natural sort order"
### Bug Report

- __TSLint version__: 5.10.0
- __TypeScript version__: 2.9.2
- __Running TSLint via__: CLI

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior

Sorting does not consider numbers.

#### Expected behavior

In my opinion `is-9` should be before `is-10`.

Not a big issue, I just ignored it with comments,

![screen shot 2018-06-20

[2018-06-20 14:08] DanJ210 commented on #3920
So what does that mean? This only started happening with tslint. I've had VS Code going for months.

[2018-06-20 14:41] yume117 commented on #3654
I use the same trick (add alias to tsconfig.json) but on karma test I get

[code]

Did I miss something ?

[2018-06-20 16:30] DanJ210 commented on #3920
@giladgray The screenshot is showing only a short list of the 50+ errors so saying that the error is [jsonc] from that small amount of evidence is inaccurate. Also [jsonc] is what's showing the error message that I have duplicate entries all from tslint so that has nothing to do with the problem, it's only finding and reporting that I have duplicate entries.

tslint are the only settings that have

[2018-06-20 17:55] cloudify commented on #3675
@ryan-gustafson not sure if you still need this, but I've implemented such a rule for a project I'm working on, the rule is provided by the [italia-tslint-rules](https://www.npmjs.com/package/italia-tslint-rules) package (source code is [here](https://github.com/teamdigitale/italia-tslint-rules))

[2018-06-20 19:56] ajcrites opened #3980 "no-implicit-dependencies: make nested package check optional"
### Bug Report

- __TSLint version__: 5.10.0
- __TypeScript version__: 2.8.1
- __Running TSLint via__: CLI

#### TypeScript code being linted
You need nested directories that both have a package.json:

[code]

Your `src/package.json` can include dependencies, but your `src/sub/package.json` should not have these dependencies. Then, `file.ts` should import a dependency listed in `src/package.json`.

[2018-06-20 22:07] Anupheaus opened #3981 "tslint not using local tslint.json file"
### Bug Report

- __TSLint version__: 5.10.0
- __TypeScript version__: 2.9.1
- __Running TSLint via__: VSCode & CLI

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior
No errors, no warnings, just nothing at all actually.

#### Expected behavior
ERROR: packages/ui/src/dataSource/items.tests.ts[1, 1]: Calls to 'console.log' are not allowed.

I

[2018-06-20 22:17] Anupheaus commented on #3981
Sorry, my bad, I didn't realise I had got a `tslint.json` file within a directory above the file I was checking.

[2018-06-20 22:17] #3981 closed

[2018-06-21 02:05] vaskevich commented on #3804
+1 to the strictness of that rule. We have a lot of code that looks like this:

[code]

If this logic was put into that rule, I'd want a rule like `"allow-all-unions-except": <symbols>` where `<symbols>` is an array of classes that cannot be in a boolean expression. To handles promises correctly, I'd set that to `["Promise", "Bluebird"]` in our codebase.

[2018-06-21 02:06] vaskevich commented on #3804
I did find something like this elsewhere: https://github.com/wwwouter/tslint-contrib but unfortunately it doesn't support blacklisting additional classes like `"Bluebird"`.

[2018-06-21 02:30] vaskevich opened #3983 "[Rule Request] no-misused-promises"
This is related to #3804 and of course [`no-floating-promises`](https://palantir.github.io/tslint/rules/no-floating-promises/). There are a number of pitfalls when working with promises and async code.

### First off:

[code]

What happens here is that `Array#forEach` doesn't support promises natively, and will simply fire them off and run onto the `Done` line before the URLs are fetched. `printUr

[2018-06-21 04:01] JoshuaKGoldberg commented on #3983
@vaskevich Very much agreed with your use cases!

However, same as #3804 - what about `strict-boolean-expressions` doesn't do it for you? It's intended to catch these types of things (e.g. you passed a `Promise` instead of a `boolean` to an `if`). Can we improve that rule so you can use it for this?

[2018-06-21 07:46] vaskevich commented on #3983
I think the issue with using `strict-boolean-expressions` everywhere (at least for us) is that it would condition folks to write `if (Boolean(foo)) {}` everywhere and then that would encapsulate a promise one day unintentionally. Something like `"allow-all-unions-except": <symbols>` would work for the second case (same as in #3804) but for the first one I think we'd need a different rule.

[2018-06-21 10:52] piotros commented on #2551
Problem still occurs.

[2018-06-21 13:12] djskinner commented on #1063
This. 100%. Having this problem with a monorepo where the test dependencies are listed in the workspace so tslint is crying about `no-implicit-dependencies`. It has to be done with a single configuration file so that IDE linting still works

[2018-06-21 15:16] #3969 closed

[2018-06-21 17:39] Mehuge commented on #3709
Narrowed this down to "check-separator" on our setup.  Remove this (prefix it x-) and lint works again.

[2018-06-22 08:37] didilinkin commented on #73
+1
need `.tslintignore`

[2018-06-22 08:37] Tenga opened #3987 "[Bug][TS 2.9] Whitespace required between import and parens with the type import syntax"
### Bug Report

- __TSLint version__: 5.10.0
- __TypeScript version__: 2.9.2
- __Running TSLint via__: CLI (also reproable with VS Code)

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior

TSLint reports `missing whitespace` on column 24:

[code]
Basically asking for the line above to look like this:
[code]

Fixer also fixes it to add the sp

[2018-06-22 08:50] #3947 closed

[2018-06-22 22:56] DylanRJohnston opened #3988 "`no-unsafe-any` when using typed moment library"
### Bug Report

- __TSLint version__: 5.10.0
- __TypeScript version__: 2.9.2
- __Running TSLint via__: (pick one) CLI

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior
`ERROR: 3:13  no-unsafe-any       Unsafe use of expression of type 'any'.`

#### Expected behavior
No error

The moment library is well typed, typescript doesn't complain at

[2018-06-22 23:10] DylanRJohnston commented on #3988
Turning off `no-unused-variable` in tslint removes this issue, this is fine because the Typescript compiler already catches this problem.

[2018-06-22 23:10] #3988 closed

[2018-06-22 23:17] DylanRJohnston commented on #3988
Seems related to #2649

[2018-06-23 02:26] PandaWood opened #3989 "add ignore-imports for semicolon rule"
It seems like a logical addition to core, that if *ignore-interfaces* is an exception to the rule that *ignore-imports* should also be.

This is especially relevant to users of automatic TypeScript generators (eg from C# code) - where the generators have no configuration for not producing semicolons but are still generating interfaces with imports.

I will have a go at creating a custom rule for i

[2018-06-23 07:45] NaridaL commented on #3977
The issue is that it's currently sorting alphabetically, while you want a "natural sort". String.localeCompare actually optionally supports that, so it should be easy to add an option to this rule to support that.

[2018-06-23 09:47] fibo commented on #3977
In my opinion it should be the default, it is more DWIM. But, I understand that it could be annoying for people who will need to apply few modifications in their props order.

@NaridaL thank you very much I saw in that thread an answer with a natural sort implementation that will help a lot.

I think I could do a PR, the question is: **should natural sort be optional or default**?

Ahaha, I had a

[2018-06-23 18:57] budarin opened #3991 "VSCode: Module 'webpack' is not listed as dependency in package.json while it presents"
### Bug Report

- __TSLint version__: 5.10.0
- __TypeScript version__: 2.9.2
- __Running TSLint via__:  VSCode

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior
webpack is installed and presents in package.json
[code]

but in VSCode I have tslint error:

[code]

#### Expected behavior
expected - code without error

[2018-06-23 19:59] giladgray commented on #3991
@budarin check the options for this rule. you may need to enable the one that allows `devDependencies`.

[2018-06-23 20:08] budarin commented on #3991
@giladgray
It did not help
I tried:
[code]
any of that has helped :(

[2018-06-23 20:09] giladgray commented on #3991
well then. where is the package.json relative to your tslint.json and your source file? maybe the paths are confusing it.

[2018-06-23 20:10] giladgray commented on #3989
@PandaWood sure, you could add this option the `semicolon` rule, seems legit.

but for the record, it's quite easy to run `tslint --fix` after generating code to ensure consistency.

[2018-06-23 20:11] budarin commented on #3991
in the root of the project on the same level
try in [repo](https://github.com/budarin/react-ssr-bootstrap-project)

[2018-06-24 07:18] ryancat commented on #3155
I use nodemon for watching file changes and run tslint in npm script. One example https://github.com/ryancat/create-ts-library/blob/master/package.json#L9

[2018-06-24 14:41] joelday commented on #3905
@ashwinr @ajafff @adidahiya @JKillian How would you design the options schema for this while remaining backward compatible?

[2018-06-24 17:21] NN--- commented on #2290
Is there any solution ?
I need to disallow using a specific global object.

[2018-06-25 02:40] Zzzen commented on #2290
you can ban global object If this PR is merged.

[2018-06-25 07:05] pmonty opened #3993 ""variable-name" rule for certain instances"
### Bug Report

- __TSLint version__: 5.10.0
- __TypeScript version__: 2.7.2
- __Running TSLint via__: vscode

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior

So it highlighting `SupportForm` saying
`
[tslint] variable name must be in lowerCamelCase or UPPER_CASE (variable-name)
`

#### Expected behavior

Would like to have it not complai

[2018-06-25 19:11] giladgray commented on #3993
@pmonty you are looking for the `"allow-pascal-case"` option. `PascalCase` is the name for "`camelCase` with a leading uppercase letter."

[2018-06-25 19:11] #3993 closed

[2018-06-25 23:47] pmonty commented on #3993
@giladgray If I add that option then it allows it everywhere. I need it only for certain sections like Functional components.

[2018-06-26 06:42] NN--- commented on #2290
Which PR should I vote for ?

[2018-06-26 07:15] Zzzen commented on #2290
Sorry, this one. https://github.com/palantir/tslint/pull/3824

[2018-06-26 07:43] NN--- commented on #2290
I see the build is failing, perhaps you should fix it first.

[2018-06-26 07:50] zheeeng commented on #3598
@hax There is a workaround:
[code]

[2018-06-26 15:01] giladgray commented on #3980
@ajcrites i dunno, the warning there seems good. if you published these packages to NPM then that import in the sub package would fail because it doesn't actually depend on the other package.

if you're _not_ publishing these packages to NPM, then this rule has no value to you and you should disable it.

[2018-06-26 15:03] giladgray commented on #3980
the check is made optional by **disabling the rule**, not by adding a workaround option for your _non-standard_ setup.

[2018-06-26 15:06] giladgray commented on #3977
@fibo hey if you want to go ahead and add support for natural sort via an option then please go ahead. if you _don't_ want to contribute this then please close this issue.

alphabetical sorting is trivial but natural sort is much more expensive so i'm inclined to do nothing here. disable the sorting as necessary to achieve the ordering you desire.

that's what we do in the rule code itself: disabl

[2018-06-26 15:08] giladgray commented on #3976
@Zzzen yes i'm down! looks like you've started working on this feature. feel free to open a PR when you're ready!

[2018-06-26 15:08] giladgray commented on #3975
is it even possible to practically (efficiently) detect when `@ts-ignore` is applied to TS code that _does not produce an error_?

[2018-06-26 15:10] giladgray commented on #3966
@spalger sure we'll take a look at a PR. not sure how much work this'll require. good luck!

[2018-06-26 15:12] fibo commented on #3977
@giladgray I would like to do a PR, but I also think it is difficult I could find the time to do it in the near future. I wrote an issue about this in my repo, if I will do a PR I will notify you.

By now I close this issue, to avoid noise.

[2018-06-26 15:12] #3977 closed

[2018-06-26 15:37] Swatinem commented on #3975
I’m not sure about that. Maybe changes in the TS typechecker itself are needed.
See the linked https://github.com/Microsoft/TypeScript/issues/25166 for that, and also a very good explanation for the reasoning why this should be useful.

Flow also has the behavior to error on ineffective suppression comments.

[2018-06-26 15:44] giladgray commented on #3975
ah nice an issue on the language itself! I would argue very strongly that this feature belongs _in `tsc` itself_ and not in tslint because it's a compiler flag and not a style decision. i'm going to close this issue to redirect the conversation to that TS issue.

[2018-06-26 15:44] #3975 closed

[2018-06-26 15:47] giladgray commented on #3951
I prefer the first option because it is much simpler. But again, i'm not really passionate about this feature at all and would prefer to just put that space after the `//` _always_ or _never_ but not special case certain keywords.

[2018-06-26 15:53] Swatinem commented on #3975
I agree that warning on ineffective suppression should be a `tsc` feature.

But the second part of this feature request is actually a linting issue:

* making sure that `@ts-ignore` comments are accompanied by some kind of explanation why we need to suppress errors there.

So I would appreciate it if you would reopen this for the sake of the other feature I requested :-)

[2018-06-26 15:57] giladgray commented on #3975
please file a new issue on the request above. this one is officially hosed (due to the link in the TS issue)

[2018-06-26 15:59] dbkaplun commented on #3975
This ticket shouldn't have been closed. The TypeScript team has not responded yet, so it is unclear that the solution will actually be implemented in TS itself.

[2018-06-26 16:06] dawsonc623 opened #3994 "import-order request: order by default import name"
At my workplace we use default exports extensively and prefer to order my imports by the name we assign to the default exports. Example:

[code]

Currently, there is no way to enforce this (as far as I can see). I believe an addition to the options given for `ordered-imports` would be useful for handling this case.

[2018-06-26 16:12] giladgray commented on #3994
🤔 i find ordering by paths to be the most reliable order because it's deterministic, whereas your suggestion above is not (you can name default exports whatever you want).

i am not keen on this suggestions, but if you submit a PR then i will review it 👍

[2018-06-26 16:13] giladgray commented on #3994
tech-wise, this should be an option on `ordered-imports` as you suggested.

[2018-06-26 16:15] giladgray commented on #3991
sorry mate I don't know what's up here. everything looks in order. it's likely some quirk of your setup.

[2018-06-26 16:18] #2023 closed

[2018-06-26 16:55] benny-medflyt commented on #3574
Also: Think about how this rule should work with `switch` statements

[2018-06-26 19:54] giladgray commented on #3434
implemented in #3978

[2018-06-26 19:54] #3434 closed

[2018-06-27 03:57] zheeeng opened #3995 "Feature Request: newline-condition"
#### Rule: newline-condition

prefer

[code]

over

[code]

### Rationale

When we blame someone a condition statement, we can get the reason why this condition is added through the git commit message.

[2018-06-27 04:58] Shinigami92 commented on #3951
If there were any breaking changes, I would not like this feature either.
But as long as everything is optional, it can only enhance the user experience.
When I have more time I will also be happy to take care of further documentation improvements for tslint

[2018-06-27 07:16] budarin commented on #3991
so, how should I live with it? :)

[2018-06-27 15:42] AlexCheadle opened #3997 "[Bug] Does not detect class as implementing AsyncIterable."
### Bug Report

- __TSLint version__: 5.10.0
- __TypeScript version__: 2.8.3
- __Running TSLint via__: (pick one) CLI

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]
with tsconfig.json:
[code]

#### Actual behavior
ERROR: <PATH>/test.ts[15, 31]: Invalid 'for-await-of' of a non-AsyncIterable value.

#### Expected behavior
No linting error.

[2018-06-27 17:33] ajafff commented on #3997
That's because the rule only recognises `AsyncIterableIterator<T>` which is a mistake I made when implementing it back then. This should be `AsyncIterable<T>` instead / in addition.

But there's more:
* it should allow every value that implements the async iteration protocol
* it should allow `Iterable<PromiseLike<T>>`. This is the fun one to implement 😄
* the part of the rule checking `await` sho

[2018-06-27 18:20] giladgray commented on #3997
@ajafff any chance of porting your improvements back to tslint?

[2018-06-27 18:22] giladgray commented on #3995
@zheeeng this should probably be an option on an existing rule, tho i'm not sure the ideal choice off the top of my head. we have several that deal with whitespace and newlines.

Prettier handles this elegantly (if your conditions are longer than a single line). https://github.com/alexjoverm/tslint-config-prettier

[2018-06-27 18:23] giladgray commented on #3991
investigate further. have you installed `@types` for these packages? i honestly don't know the internals of this rule or your code so there's little i can do for you from over here.

[2018-06-27 18:40] giladgray commented on #3991
i checked out your code and can definitely repro this. i have no idea what's up.

[2018-06-27 18:42] budarin commented on #3991
I am confused by the fact that the error is intermittent: first, it was in the import webpack then moved on react-hot-loader

[2018-06-27 18:46] giladgray commented on #3991
@budarin my friend i have bad news. setting the correct config handily fixed this.
[code]

[2018-06-27 18:47] giladgray commented on #3991
https://github.com/palantir/tslint/issues/3991#issuecomment-399704725 has a trailing comma after the `]` which may have caused the whole thing to blow up.

[2018-06-27 18:48] budarin commented on #3991
I have successfully  disabled this rule today 21:47, 27 июня 2018 г., Gilad Gray <notifications@github.com>:#3991 (comment) has a trailing comma after the ] which may have caused the whole thing to blow up.

—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or mute the thread.

С уважением Бударин Вадим

[2018-06-27 18:49] giladgray commented on #3991
i checked out your code  and enabled it and it worked flawlessly.

[2018-06-27 18:50] giladgray commented on #3991
https://github.com/budarin/react-ssr-bootstrap-project/pull/1/files

[2018-06-27 18:51] budarin commented on #3991
But disabling it - is not good solution (21:49, 27 июня 2018 г., Gilad Gray <notifications@github.com>:i checked out your code  and enabled it and it worked flawlessly.

—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or mute the thread.

С уважением Бударин Вадим

[2018-06-27 18:58] #3991 closed

[2018-06-27 18:59] budarin commented on #3991
Thanks!

[2018-06-27 19:06] giladgray commented on #3951
yeah it's not breaking but with a project like this there's a fine line between useful and burdensome.

i will not implement this feature because i, as a tslint maintainer, find it non-standard and specific to your workflow. but if you really want it and submit a PR, i'll happily review it.

[2018-06-27 19:22] Shinigami92 commented on #3951
I'm already working on this feature
Current work can be seen here: https://github.com/Shinigami92/tslint/compare/master...Shinigami92:feature/comment-format-check-space-special-keywords

That was 12 days ago and I can not invest much time, so it may take a while
But as you've noticed, this feature is not so important that it needs to be there in the near future :)
I also see it as an introduction

[2018-06-27 19:28] spalger opened #3998 "No way to check function declaration naming"
### Bug Report

- __TSLint version__: 5.10.0
- __TypeScript version__: 2.8.3
- __Running TSLint via__: CLI

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior

Only the variable assignment is checked.

#### Expected behavior

I personally expected function declarations to be included in the variable-name check, but since TSLint has separate c

[2018-06-27 20:00] ajafff commented on #3998
You might want to have a look at the [`naming-convention` rule of my package `tslint-consistent-codestyle`](https://github.com/ajafff/tslint-consistent-codestyle/blob/master/docs/naming-convention.md#examples). That rules allow fine grained configuration of the names of (almost) all declarations.

[2018-06-28 04:18] JoshuaKGoldberg opened #3999 "Rule request: no-ambient-declarations-on-exports"
A coworker ran into an interesting situation across packages recently.

In package A, they had two files:

`A/typings/globals.d.ts`:

[code]

`A/src/index.ts`:

[code]

Then, in package B, they wanted to import `fruits` and use its same types:

`B/src/index.ts`:

[code]

...but they had no way of also importing `IDictionary` from package A.

Package A wasn't exporting `IDictionary` because it was

[2018-06-28 04:20] JoshuaKGoldberg opened #4000 "Can we have GitHub templates for issues vs. feature requests vs. rule requests?"
They're quite handy, and I feel awkward deleting lines of the suggested template when they don't apply. 😅

Prior art: https://github.com/facebook/jest/issues/new/choose

![image](https://user-images.githubusercontent.com/3335181/42012985-e4249120-7a4f-11e8-8628-04557f513bda.png)

[2018-06-28 05:38] suchanlee commented on #4000
i think it would be a good idea!

[2018-06-28 06:09] suchanlee commented on #3839
i also find myself disabling `no-implicit-dependencies` when writing test code which imports from dev dependencies (e.g. enzyme)

[2018-06-28 06:51] zuozhiw commented on #1063
I think this issue is also related to #3447

[2018-06-28 10:20] NaridaL commented on #2625
It might be sensible to have the unsafe/safe flag on individual `Replacement`s, instead of per-rule. For example, a fixer for `object-literal-sort keys` might not be safe if the values have side effects:
[code]

[2018-06-28 10:42] dscho commented on #3929
Oh, and it would appear that my understanding of what `no-floating-promises` is incorrect :-( There is [an explicit test in `test/rules/no-floating-promises/promises/test.ts.lint` to verify that it does *not* report an unawaited Promise in a conditional](https://github.com/palantir/tslint/blob/4a11f952641bd6b686644fda2117786a13283650/test/rules/no-floating-promises/promises/test.ts.lint#L121):

[c

[2018-06-28 10:59] dscho commented on #744
@ajafff That was my initial understanding, too. But that rule does not cover this case:

[code]

Note how the `if (isThisTrue())` is rather obviously missing the `await`.

Following my analysis in https://github.com/palantir/tslint/issues/3929, I have to conclude that `no-floating-promises` really only cares whether the Promise is assigned or used in any other way. The rule does not care that it i

[2018-06-28 18:16] ajcrites commented on #3839
The whitelist should fix this issue, however for @NearAutomata it may still be a problem because the rule handles imports starting with `@` differently: https://github.com/palantir/tslint/blob/master/src/rules/noImplicitDependenciesRule.ts#L115

[2018-06-29 01:37] wata727 commented on #3839
@ajcrites Thanks for your great works! I'm happy that this option has been added :)

[2018-06-29 01:55] nolazybits commented on #3722
got bitten by this too

[2018-06-30 17:38] cwoolum opened #4002 "visitConstructorDeclaration does not fire if constructor is placed at the end of a class"
### Bug Report

- __TSLint version__: 5.10.0
- __TypeScript version__:  2.8.3
- __Running TSLint via__: (pick one) Mocha

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

None, Included Walker above

#### Actual behavior

If a function declaration is placed above a constructor, `visitConstructorDeclaration` never fires.

#### Expected behavior

I would expect `visitCon

[2018-06-30 18:36] all43 commented on #3150
It's better to reopen and fix this. Property marked as private because it's only used in constructor, not in template or elsewhere outside. Apparently false positive.

[2018-07-01 12:17] Shinigami92 commented on #3951
So the first cool thing is: it works \o/

I prefixed the PR with [WIP] because I think you can review it but I should add documentation to is
Or should the documentation part in an extra PR?

---

Also I'm a bit confused about the test behaviour when it checks line [35](https://github.com/Shinigami92/tslint/blob/84694f6ea84d904f9d935f09be632eb68104d2ea/test/rules/comment-format/ignore-space-on-key

[2018-07-01 18:57] philip-firstorder commented on #2933
Any news on this? Will it be deprecated or not?

[2018-07-02 07:49] pavelkucera commented on #3955
@giladgray I looked into the issue and currently I do not see a way of fixing this, without changing interfaces declared by TypeScript. All the `Semicolon*Walker.checkInterface` work with typescript's `InterfaceDeclaration.members` which do not provide the type of a property, only its "PropertySignature" kind, and thus an object literal can not be recognised as far as I understand it.

I will repo

[2018-07-02 10:49] BetterCallSky opened #4004 "Rule request: disallow spread when calling a method"
Related to https://github.com/webpack/webpack/issues/7548, but probably it won't be fixed in webpack, and I think we can create a new tslint rule.

A new ts lint rule should report an error only when calling a method with a spread operator.
[code]

Bellow usage is ok

[code]

[2018-07-02 11:54] Antony74 commented on #2280
I think it might be this one? https://palantir.github.io/tslint/rules/no-implicit-dependencies/

[2018-07-02 13:22] a7madgamal commented on #2503
so according to the last comment, the feature request is still be relevant, right?

[2018-07-02 13:57] joelday commented on #3905
@ashwinr @ajafff @adidahiya @JKillian Sorry to bump this again, but I'd like to get a PR in. Unless I'm missing something, I've been unable to find a case where the options can be either a number or an object.

[2018-07-02 16:51] euclio opened #4005 "[Rule request] disable `/* */` comments"
In a codebase, it' can be easy to accidentally type doc comments with a leading `/*`. If you use `//`-style comments everywhere else, this lint could catch cases where you meant to write a doc comment.

[2018-07-02 17:46] giladgray commented on #4004
@BetterCallSky i don't see how `Obj.foo(...args)` is wrong but `foo(...args)` is fine?

[2018-07-02 17:47] giladgray commented on #4000
yo absolutely!

[2018-07-02 17:52] BetterCallSky commented on #4004
@giladgray
From https://github.com/webpack/webpack/issues/7548

Orginal code
[code]
is transpiled to
[code]

The whole `Rx` module is marked as a side effect and tree-shaking is disabled.

-----

[code]
is transpiled to
[code]
In this case there is no `Rx` object, and it doesn't affect tree-shaking.

[2018-07-02 19:07] theodorejb commented on #960
We use commas to separate interface properties, and I'd really like an option to enforce this.

[2018-07-02 19:44] all43 commented on #3150
I thought, it's, a bug, but actually not. Here is solution in duplicate issue:
https://github.com/palantir/tslint/issues/3420

[2018-07-02 20:02] jefflage commented on #3545
I would also like this rule

[2018-07-02 23:27] JakeTunaley opened #4006 "[Rule Request] Allow for (let i ...) loops with prefer-for-of when the iterated variable is a string"
- __TSLint version__: 5.10.0
- __TypeScript version__: 3.0.0-dev.20180628
- __Running TSLint via__: VSCode

### Issue

[code]

This is annoying because it means I have to put `tslint:disable-next-line` rules everywhere I iterate over a string.

### Suggestion

Add an "ignore-strings" (or similarly named) option to the "prefer-for-of" rule so that I can keep the rule on without having to put disabl

[2018-07-02 23:44] giladgray commented on #4006
not into a type-based rule as it will only be available to users who use the `--project` option. if the rule does not work for a common use case in your codebase then you can disable the rule to allow such syntax.

there was a recent issue about enabling this `for (let i)` syntax but I can't find it right now.

[2018-07-03 01:55] michael-letcher opened #4007 "Optional inputs and whitespace"
### Bug Report

- __TSLint version__: ~5.9.1
- __TypeScript version__: 2.9.1
- __Running TSLint via__:  CLI

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior
[code]

Is being formatted to

[code]

and the `?` has the error `[tslint] missing whitespace (whitespace)`

#### Expected behavior

[code]

Should be valid, with not formatting or err

[2018-07-03 08:43] zheeeng commented on #2551
Still exists

[2018-07-03 10:42] joonhocho commented on #3962
I am having the same problem. typeRoots in tsconfig.json is not honored by tslint.

[2018-07-03 15:08] ajafff commented on #4006
@JakeTunaley If you want `prefer-for-of` to use type information to avoid false positives, you might want to give my [Fimbullinter project](https://github.com/fimbullinter/wotan/blob/master/packages/wotan/README.md) a try. Like TSLint it has a rule called [`prefer-for-of` ](https://github.com/fimbullinter/wotan/blob/master/packages/mimir/README.md#rules) which suggests converting regular `for` loo

[2018-07-03 16:15] a7madgamal commented on #3842
would love this to avoid removing around 90 instances manually :D

[2018-07-03 18:47] michaelblack opened #4010 "no-implicit-dependencies/whitelist-with-dev tests failing on master"
### Bug Report

- __TSLint version__: master 9d7db479596c50bbf89fa87d498ab927763a6eec
- __TypeScript version__: 2.8.3
- __Running TSLint via__: CLI (yarn test:rules)

#### Additional Info
Running from a freshly cloned repo on macOS 10.13.3

#### Actual behavior
[code]
#### Expected behavior
[code]

[2018-07-04 09:48] igabesz opened #4013 "no-unused-variable rule ignores decorated members"
This is a feature request, a non-breaking extension to the current behavior.

**Problem:** Decorators often change the behavior and usage of the decorated member. I have examples where some of my private member functions are called through decorators only -- so they appear to be unused but they are called indirectly through the decorators.

[code]

**Current Workaround:** Now I must make them publ

[2018-07-04 10:01] igabesz commented on #4013
I see no such feature or issue in eslint:
https://github.com/eslint/eslint/issues?q=is%3Aissue+no-unused-vars+decorators

[2018-07-04 13:12] pburrows commented on #3010
So what is the solution? I have been adding
`// tslint:disable-next-line:no-unsafe-any`
in my catch clauses. But is there a better way?

[2018-07-04 13:23] NN--- commented on #3010
Use template string:
[code]

[2018-07-05 00:11] JakeTunaley commented on #4006
@ajafff Thanks, that's exactly what I need!

[2018-07-05 09:14] hdurix opened #4014 "Missing whitespace around export statement with "check-module" argument"
### Bug Report

- __TSLint version__: 5.10.0
- __TypeScript version__: 2.9.2
- __Running TSLint via__: CLI

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior

No issue is detected by tslint.

#### Expected behavior

Add whitespace around export statements when missing. Because of rule "whitespace" with argument "check-module".

[code]

[2018-07-05 13:01] tommedema commented on #1759
This still seems to happen:

[code]

I get `ERROR: /Users/tommedema/projects/vg/playground/tshape/src/index.ts[5, 3]: 'width' should come alphabetically before 'x'` therefore the rule is not disabled.

[2018-07-05 14:34] ksdmitrieva opened #4015 "Plugins don't return results when TSLint is installed globally"
### Bug Report

- __TSLint version__: 5.10.0
- __TypeScript version__: 1.0.3.0
- __Running TSLint via__: CLI on Windows

When TSLint is installed globally, but a TSLint plugin is installed locally, the plugin doesn't return any results. And TSLint also doesn't show any error messages. Tested this on multiple projects with two plugins:
* tslint-microsoft-contrib https://github.com/Microsoft/tslint-

[2018-07-05 23:47] chemzqm opened #4016 "Errors when using with typescript 3.0"
### Bug Report

- __TSLint version__: 5.10
- __TypeScript version__: ^3.0.0-dev.20180704
- __Running TSLint via__: (pick one) CLI

[code]

#### TypeScript code being linted

Error only happens when I lint project by

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior

When using command

[code]
I would get a lot of error, but when using global installed tslint like

[code]
I w

[2018-07-06 07:09] zixia commented on #3997
I ran into this issue today.

Any workaround right now?

[2018-07-06 11:00] retorquere opened #4017 "declaration of function member yields "variable-name" error."
### Bug Report

- __TSLint version__: 5.10.0
- __TypeScript version__: 2.9.2
- __Running TSLint via__: CLI

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior

I'm getting `variable-name    variable name clashes with keyword/type` on the first line. The 2nd line is accepted.

#### Expected behavior

Both function declarations to be accepted.

[2018-07-07 05:21] dang1412 commented on #2933
@philip-firstorder using this fixed the issue for me `--project tsconfig.json`
[code]

[2018-07-09 09:22] Kokogino opened #4018 "Multiple TSLint rules fail with non-null assertions"
### Bug Report

- __TSLint version__: 5.10.0
- __TypeScript version__: 2.7.2
- __Running TSLint via__: Angular CLI -> Node.js API

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior
TSLint complains about:
* "missing whitespace (whitespace)" before the `!`s
* "Missing semicolon (semicolon)" after the `!`s
* "Declaration of instance field not

[2018-07-09 12:55] gruberb commented on #2556
Any progress on this?

[2018-07-09 16:26] pmattke opened #4020 "match-declaration-order does not work"
### Bug Report

- __TSLint version__: 5.10.0
- __TypeScript version__: 2.9.2
- __Running TSLint via__: VSCode

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior

The stuff object is not initialized with the property order used in IStuff. So, according to my config, I expect tslint to complain about that.

#### Expected behavior

TSLint does

[2018-07-09 16:46] gnapse opened #4021 "Allow fast null checks in no-unused-expression rule does not cover some cases"
The `allow-fast-null-checks` option for the `no-unused-expression` rule, which was added in #1638, is currently not covering all cases. Today it's only meant for allowing expressions that check if a variable is truth before calling a method on that variable:

[code]

I propose that it should also cover cases that check if a variable is truth before calling it as a function:

[code]

And perhaps th

[2018-07-09 23:48] clayne11 opened #4022 "JSX generics are treated as unused"
### Bug Report

- __TSLint version__: 5.10.0
- __TypeScript version__: 2.9.2
- __Running TSLint via__: CLI

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior

[code]

#### Expected behavior

Interface is used so no issue.

[2018-07-10 12:40] sledorze commented on #4016
Ref https://github.com/Microsoft/TypeScript/wiki/API-Breaking-Changes

[2018-07-10 16:53] sebek64 opened #4024 "Incorrect "Unnecessary semicolon" for assignment of lambda to a decorated member"
### Bug Report

- __TSLint version__: 5.10.0
- __TypeScript version__: 2.7
- __Running TSLint via__: CLI

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

recommended (i.e., semicolon rule enabled).

#### Actual behavior

Produces error

ERROR: x.ts[3, 55]: Unnecessary semicolon

#### Expected behavior

Should not produce this error. In particular, the behavior changes

[2018-07-11 00:09] Tyriar opened #4026 "do while with no curly braces on two lines is allowed when using ignore-same-line"
### Bug Report

- __TSLint version__: 5.10.0
- __TypeScript version__: 2.9.2
- __Running TSLint via__: VSCode, CLI

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual behavior

The code is allowed.

#### Expected behavior

I would expect this to fail as it's not really a single line statement like `if (a) return;` because the `while` is on the followi

[2018-07-11 04:49] felixfbecker commented on #3768
Documenting _symbols_ should always be done with docblocks, i.e. functions, methods, classes, interfaces, properties, even variables. If you explicitly want to document behavior, but there is a symbol declaration following your comment, you could add an empty line or disable it for variables.

As someone on a team with a lot of Go programmers, this would be a really great rules to have - this come

[2018-07-11 04:50] felixfbecker commented on #3534
This makes the rule pretty much useless to anyone who embraces functional class-free programming 🙁

[2018-07-11 04:55] felixfbecker commented on #3534
Since #3376 is a bit controversial, is there an upstream issue filed on TypeScript?

[2018-07-11 17:03] doliG opened #4027 "[Feature Request] Add include in linterOptions"
### Bug Report

- __TSLint version__: 5.10.0
- __TypeScript version__: 2.4.2
- __Running TSLint via__: `npm run lint` with pre-commit hook (husky)

#### TypeScript code being linted

All our app code is being linted.

with `tslint.json` configuration:

[code]

#### Actual behavior

Well, my team and I want to gradually adopt tslint, to have a consistant coding style.
However, the only way I found

[2018-07-11 22:34] johnwiseheart commented on #4027
I agree this would be a good idea! Happy to review PRs by anyone interested in taking this on.

[2018-07-11 22:37] johnwiseheart commented on #4005
Happy to take a PR for a new rule for this.

[2018-07-12 00:47] ericferreiralife commented on #539
Took a stab at that PR. @adidahiya or other contributors, could y'all take a look?

[2018-07-12 01:16] pbarranis commented on #144
Bloody hell.  Neither the words "suppress" nor "ignore" appear in that documentation.  I can't believe how much googling it took to lead me to this issue, read all the stuff above, only to find it's a supported, documented feature, but the appropriate keywords aren't in the docs so it's impossible to Google.  Do you have to clone the whole repo and submit a PR for that, or is there a quicker way t

[2018-07-12 03:16] Higginshuangjing opened #4030 "Spaces before function parens are disallowed"
### Bug Report

- __TSLint version__: 5.10.0
- __TypeScript version__: 2.9.2
- __Running TSLint via__:  VSCode

#### TypeScript code being linted

[code]
with `tslint.json` configuration:

[code]

#### Actual behavior
WARNING in /Users/huangjing/Desktop/atnena/corporateclub-surfaces/src/common/msg.ts
52:23 Spaces before function parens are disallowed
    50 |    * 带参数错误处理
    51 |    */

#### Expe

[2018-07-12 08:59] AviVahl opened #4031 ""whitespace" rule forces space when using import('lib').SomeType"
### Bug Report

TypeScript added the ability to dynamically import types using `import()`. Whitespace rule doesn't handle these, and forces a space between the `import` and its parenthesis.

- __TSLint version__: 5.10.0
- __TypeScript version__: 2.9.2
- __Running TSLint via__: (pick one) CLI / VSCode

#### TypeScript code being linted

[code]

with `tslint.json` configuration:

[code]

#### Actual